In [1]:
import time
import sklearn
import numpy as np
import pandas as pd

import sys
sys.path.append("..")
from baggingPU import BaggingClassifierPU

from sklearn.utils import resample
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import random

In [2]:
def print_cm(cm, labels, hide_zeroes=False, hide_diagonal=False, hide_threshold=None):
    columnwidth = max([len(x) for x in labels]) + 4
    empty_cell = " " * columnwidth
    print("    " + empty_cell, end=' ')
    for label in labels:
        print("%{0}s".format(columnwidth) % 'pred_' + label, end=" ")
    print()

    for i, label1 in enumerate(labels):
        print("    %{0}s".format(columnwidth) % 'true_' + label1, end=" ")
        for j in range(len(labels)):
            cell = "%{0}.1f".format(columnwidth) % cm[i, j]
            if hide_zeroes:
                cell = cell if float(cm[i, j]) != 0 else empty_cell
            if hide_diagonal:
                cell = cell if i != j else empty_cell
            if hide_threshold:
                cell = cell if cm[i, j] > hide_threshold else empty_cell
            if cell:
                print(cell, end=" ")
        print()

# import data

In [3]:
df_raw = pd.read_csv('../data/cannery.csv')

df_raw['label'] = df_raw['label'].astype("int")
print(df_raw.label.value_counts())
print('Has null values', df_raw.isnull().values.any())

1    10000
0    10000
Name: label, dtype: int64
Has null values False

In [4]:
df_raw.head(10)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,label
0,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,1
1,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,1
2,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,1,0,1
3,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,2,1,0,1,0,1
4,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,2,1,0,1,0,1
5,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,2,1,0,1,0,1
6,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,2,1,0,1,0,1
7,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,2,1,0,1,0,1
8,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,2,1,0,1,0,1
9,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,2,1,0,1,0,1

In [5]:
print(df_raw.iloc[:10000,:])
df_max = np.amax(df_raw.iloc[:10000,[31,32]])
print(df_max)

      p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p29  p30  p31  p32  p33  \
0      0   0   1   0   0   0   0   0   0    0  ...    0    1    0    0    1
1      0   0   1   0   0   0   0   0   0    0  ...    0    1    0    0    1
2      0   0   1   0   0   0   0   0   0    0  ...    0    1    0    0    1
3      0   0   1   0   0   0   0   0   0    0  ...    0    1    0    0    2
4      0   0   1   0   0   0   0   0   0    0  ...    0    1    0    0    2
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
9995   0   0   0   0   0   0   1   0   0    0  ...    0    1    0    8    2
9996   0   0   0   0   0   1   0   0   0    1  ...    0    1    0    8    2
9997   0   0   0   0   0   1   0   0   1    0  ...    0    1    0    8    2
9998   0   0   0   0   0   0   1   0   0    0  ...    0    1    0    8    2
9999   0   0   0   0   1   0   0   0   0    1  ...    0    1    0    8    2

      p34  p35  p36  p37  label
0       1    0    1    0      1
1       1    0    1    0      1
2       1    0    1    0      1
3       1    0    1    0      1
4       1    0    1    0      1
...   ...  ...  ...  ...    ...
9995    1    0    1    0      1
9996    1    0    1    0      1
9997    1    0    1    0      1
9998    0    1    1    0      1
9999    1    0    1    0      1

[10000 rows x 38 columns]
p32    8
p33    5
dtype: int64

In [6]:
df_process = df_raw
print(df_process)

       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p29  p30  p31  p32  p33  \
0       0   0   1   0   0   0   0   0   0    0  ...    0    1    0    0    1
1       0   0   1   0   0   0   0   0   0    0  ...    0    1    0    0    1
2       0   0   1   0   0   0   0   0   0    0  ...    0    1    0    0    1
3       0   0   1   0   0   0   0   0   0    0  ...    0    1    0    0    2
4       0   0   1   0   0   0   0   0   0    0  ...    0    1    0    0    2
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19995  23   4  16   7  14   2   0  11   9    9  ...   18   20   18   23   18
19996   8   3   6  25  19   6  14  18  14   17  ...    8   10   10   18   10
19997  20  15   8  20  11   0   7  18  16   15  ...   16   12    6   17   21
19998   3  12  10   4  15  25   6  19  17   12  ...   20   12    7   17   19
19999   7  15   3  18   4  14  17   8  10   25  ...   10   20   18    9   19

       p34  p35  p36  p37  label
0        1    0    1    0      1
1        1    0    1    0      1
2        1    0    1    0      1
3        1    0    1    0      1
4        1    0    1    0      1
...    ...  ...  ...  ...    ...
19995   12   14   17   11      0
19996    8   18    6   18      0
19997    5   17    6    5      0
19998   11    0   19    4      0
19999    1    8    9    2      0

[20000 rows x 38 columns]

In [7]:
x_data = df_process.iloc[:,:-1]
y_data = df_process.iloc[:,-1]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=7)

In [8]:
x_train_input = pd.concat([x_train.iloc[:,:], y_train],axis=1)
x_test_input = pd.concat([x_test.iloc[:,:],y_test],axis=1)

print(len(x_train_input))
print(len(x_test_input))

print(x_train_input.label.value_counts())
print('Has null values', x_train_input.isnull().values.any())

print(x_test_input.label.value_counts())
print('Has null values', x_test_input.isnull().values.any())

16000
4000
1    8077
0    7923
Name: label, dtype: int64
Has null values False
0    2077
1    1923
Name: label, dtype: int64
Has null values False

In [9]:
x_train_input.head(10)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,label
8118,1,0,0,0,0,0,0,0,1,0,...,0,1,0,6,3,1,0,1,0,1
10171,14,1,14,16,4,25,22,13,1,2,...,16,6,11,8,21,12,21,17,0,0
9399,0,0,0,0,1,0,0,0,0,0,...,0,1,0,7,4,1,0,1,0,1
12669,23,0,0,9,19,19,18,18,10,18,...,25,7,24,5,8,4,19,16,2,0
18809,2,10,8,13,17,21,6,7,8,2,...,8,13,1,16,13,18,11,8,22,0
13869,4,3,7,24,11,23,5,0,21,17,...,11,11,0,2,23,13,11,13,5,0
3320,0,0,1,0,0,0,0,0,0,0,...,0,1,0,3,2,1,0,1,0,1
14689,10,20,18,1,24,19,6,15,7,25,...,13,2,22,2,22,14,22,21,10,0
13087,25,20,4,24,1,4,23,16,2,16,...,17,25,17,15,22,9,11,21,2,0
15992,25,12,10,19,2,6,9,18,17,13,...,16,7,11,10,18,22,12,16,6,0

In [10]:
x_test_input.head(10)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,...,p29,p30,p31,p32,p33,p34,p35,p36,p37,label
14356,15,23,5,7,5,22,19,1,4,1,...,25,13,2,8,19,13,8,11,3,0
3439,0,0,0,1,0,0,0,0,0,0,...,0,0,1,3,2,1,0,0,1,1
12153,0,16,17,7,20,7,2,11,20,7,...,9,17,12,12,17,22,10,18,12,0
15029,23,10,20,16,0,3,1,14,22,23,...,12,9,22,8,18,0,11,11,18,0
18549,21,13,5,4,19,24,10,12,0,18,...,8,10,21,5,4,12,5,24,9,0
15762,14,17,20,6,25,20,3,14,3,0,...,14,13,7,3,20,19,9,7,19,0
12313,7,15,14,14,20,9,10,14,12,20,...,21,17,25,18,8,6,5,23,16,0
16034,3,0,6,3,25,10,20,8,22,5,...,24,2,7,10,18,17,7,7,14,0
11496,25,17,8,9,5,16,15,20,9,14,...,9,20,20,2,17,22,6,13,13,0
5653,0,0,0,0,1,0,0,0,0,1,...,0,1,0,4,4,1,0,1,0,1

In [11]:
df = x_train_input.copy()

NON_LBL = [c for c in df.columns if c != 'label']
X = df[NON_LBL]
y = df['label']

y_orig = y.copy()

hidden_size = 5000
y.loc[
    np.random.choice(
        y[y == 1].index, 
        replace = False, 
        size = hidden_size
    )
] = 0

print(X)
print(y)

       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8118    1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0    6
10171  14   1  14  16   4  25  22  13   1    2  ...   19   16    6   11    8
9399    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0    7
12669  23   0   0   9  19  19  18  18  10   18  ...   21   25    7   24    5
18809   2  10   8  13  17  21   6   7   8    2  ...   14    8   13    1   16
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13927  14  13   8  14  16   0   4  16  20   15  ...    8    6   25   23    8
919     0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0    1
5699    0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0    4
10742  13   5  18  14   8  17   1  19  12    3  ...   18    9   15   22   21
16921  22  11  18  21   0  16   1  13  18   25  ...   10   24    3   23    6

       p33  p34  p35  p36  p37
8118     3    1    0    1    0
10171   21   12   21   17    0
9399     4    1    0    1    0
12669    8    4   19   16    2
18809   13   18   11    8   22
...    ...  ...  ...  ...  ...
13927   19    7    4    1    6
919      3    1    0    1    0
5699     4    0    1    1    0
10742    9    0   19    3   22
16921    9   25    6    2   15

[16000 rows x 37 columns]
8118     0
10171    0
9399     0
12669    0
18809    0
        ..
13927    0
919      0
5699     0
10742    0
16921    0
Name: label, Length: 16000, dtype: int64

In [12]:
pd.Series(y).value_counts()

0    12923
1     3077
Name: label, dtype: int64

# Trainning directly

In [13]:
print('Training XGboost model ...')

import xgboost as xgb

model = xgb.XGBClassifier()
model.fit(X, y)

print('Done')

Training XGboost model ...
Done

In [14]:
print('---- {} ----'.format('XGboost model'))
print(print_cm(sklearn.metrics.confusion_matrix(y_test, model.predict(x_test_input.iloc[:,:-1])), labels=['negative', 'positive']))
print('')
print('Precision: ', precision_score(y_test, model.predict(x_test_input.iloc[:,:-1])))
print('Recall: ', recall_score(y_test, model.predict(x_test_input.iloc[:,:-1])))
print('Accuracy: ', accuracy_score(y_test, model.predict(x_test_input.iloc[:,:-1])))
print('f1_score: ', f1_score(y_test, model.predict(x_test_input.iloc[:,:-1])))

---- XGboost model ----
                        pred_negative        pred_positive
           true_negative       2077.0          0.0
           true_positive       1463.0        460.0
None

Precision:  1.0
Recall:  0.2392095683827353
Accuracy:  0.63425
f1_score:  0.3860679815358791

# Training by bagging

In [15]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()

from sklearn.tree import DecisionTreeClassifier
model2 = DecisionTreeClassifier()

from sklearn.neural_network import MLPClassifier
model3 = MLPClassifier(solver='adam', alpha=1e-5,hidden_layer_sizes=(1), random_state=1,max_iter=100000)

from sklearn import svm
model4 = svm.LinearSVC()

from sklearn.naive_bayes import MultinomialNB
model5 = MultinomialNB()

from sklearn.ensemble import RandomForestClassifier
model6 = RandomForestClassifier(n_estimators = 50,n_jobs = -1)

import xgboost as xgb
model7 = xgb.XGBClassifier()

In [16]:
model_list = [model1, model2, model3, model4, model5, model6, model7]
f1 = np.zeros([len(model_list)],dtype=np.float32)

In [ ]:
for i,j in zip(model_list,range(len(model_list))):
    model = BaggingClassifierPU(i,
                         n_estimators = 50, 
                         n_jobs = -1, 
                         max_samples = sum(y)  
                        )
    model.fit(X,y)
    print(f1_score(y_orig, model.predict(X)))
    f1[j] = f1_score(y_orig, model.predict(X))

print(f1)

1.0
0.9039218347129868
1.0
1.0
0.9977664722670307

In [ ]:
f1_index = []
for i in range(len(f1)):
    if f1[i] >= 0.95:
        f1_index.append(i)
        
print(f1_index)
        
predict_sum = np.zeros([len(X)],dtype=np.float32)
for i in f1_index:
    model = BaggingClassifierPU(model_list[i],
                         n_estimators = 50, 
                         n_jobs = -1, 
                         max_samples = sum(y)  
                        )
    model.fit(X,y)
    predict_sum += model.predict(X)
print(predict_sum)

In [ ]:
threshold = len(f1_index) / 2
print(predict_sum)

predict = np.zeros([len(y)],dtype=np.int64)

for i in range(len(X)):
    if predict_sum[i] >= threshold :
        predict[i] = 1
    if predict_sum[i] < threshold :
        predict[i] = 0

print(predict)
print(y_orig)

In [ ]:
#train data
print('---- {} ----'.format('PU Bagging'))
print(print_cm(sklearn.metrics.confusion_matrix(y_orig,predict), labels=['negative', 'positive']))
print('')
print('Precision: ', precision_score(y_orig, predict))
print('Recall: ', recall_score(y_orig,predict))
print('Accuracy: ', accuracy_score(y_orig, predict))
print('f1_score: ', f1_score(y_orig, predict))

In [ ]:
best_model = BaggingClassifierPU(model_list[np.argmax(f1)],
                         n_estimators = 50, 
                         n_jobs = -1, 
                         max_samples = sum(y)  
                        )
print(best_model)

In [ ]:
print('Training bagging classifier...')

pu_start = time.perf_counter()

best_model.fit(X, y)
pu_end = time.perf_counter()
print('Done!')
print('Time:', pu_end - pu_start)

In [ ]:
#train data
print('---- {} ----'.format('PU Bagging'))
print(print_cm(sklearn.metrics.confusion_matrix(y_orig, best_model.predict(X)), labels=['negative', 'positive']))
print('')
print('Precision: ', precision_score(y_orig, best_model.predict(X)))
print('Recall: ', recall_score(y_orig, best_model.predict(X)))
print('Accuracy: ', accuracy_score(y_orig, best_model.predict(X)))
print('f1_score: ', f1_score(y_orig, best_model.predict(X)))

In [ ]:
#print wrong predictions
y_pre = best_model.predict(X)
y_orig_index = y_orig.index.tolist()

FN_index = []
FT_index = []

for i in range(len(y_orig)):
    if y_orig.iloc[i] == 1 and y_pre[i] == 0 :
        FN_index.append(y_orig_index[i])
    if y_orig.iloc[i] == 0 and y_pre[i] == 1 :
        FT_index.append(y_orig_index[i])
        
print("False Negtive:")
print(df_process.loc[FN_index])
print("False Positive:")
print(df_process.loc[FT_index])

In [ ]:
#test data
print('---- {} ----'.format('PU Bagging'))
print(print_cm(sklearn.metrics.confusion_matrix(y_test, best_model.predict(x_test_input.iloc[:,:-1])), labels=['negative', 'positive']))
print('')
print('Precision: ', precision_score(y_test, best_model.predict(x_test_input.iloc[:,:-1])))
print('Recall: ', recall_score(y_test, best_model.predict(x_test_input.iloc[:,:-1])))
print('Accuracy: ', accuracy_score(y_test, best_model.predict(x_test_input.iloc[:,:-1])))
print('f1_score: ', f1_score(y_test, best_model.predict(x_test_input.iloc[:,:-1])))

In [ ]:
#print wrong predictions
y_test_pre = best_model.predict(x_test_input.iloc[:,:-1])
y_test_index = y_test.index.tolist()

FN_test_index = []
FT_test_index = []

for i in range(len(y_test)):
    if y_test.iloc[i] == 1 and y_test_pre[i] == 0 :
        FN_test_index.append(y_test_index[i])
    if y_test.iloc[i] == 0 and y_test_pre[i] == 1 :
        FT_test_index.append(y_test_index[i])

print("False Negtive:")
print(df_process.loc[FN_test_index])
print("False Positive:")
print(df_process.loc[FT_test_index])

In [ ]:
#without interative strategy
import random

place_max = max(np.amax(df_process.iloc[:10000, [31, 32]]))  
name1 = ['min', 'max', 'Precision', 'Recall', 'Accuracy', 'f1_score','time']
test = pd.DataFrame(columns=name1)

for i in range(1, 101):
    pu_start = time.perf_counter()
        
    pos_list = np.random.randint(low=100, high=10000, size=2000).tolist()
    neg_list = np.random.randint(low=10000, high=20000, size=2000).tolist()
    all_list = pos_list + neg_list
    
    flag1 = int((0.1 * (i - 1)) * place_max)
    flag2 = int((0.1 * i) * place_max)
    print(flag2)
    
    temp_data = df_process.iloc[all_list, : -1].copy()
    temp_label = df_process.iloc[all_list, -1].copy()
    
    temp_data.iloc[:, 31] = temp_data.iloc[:, 31] + random.randint((df_max[0] + flag1 + 1), ((df_max[0] + flag2 + 1)))
    temp_data.iloc[:, 32] = temp_data.iloc[:, 32] + random.randint((df_max[1] + flag1 + 1), ((df_max[1] + flag2 + 1)))

    
    print('======')
    print(temp_data.iloc[:, :])

    temp_max = max(np.amax(temp_data.iloc[:, [31, 32]]))
    temp_min = min(np.amin(temp_data.iloc[:, [31, 32]]))

    print('---- {} ----'.format(i))
    print('Precision: ', precision_score(temp_label, best_model.predict(temp_data)))
    print('Recall: ', recall_score(temp_label, best_model.predict(temp_data)))
    print('Accuracy: ', accuracy_score(temp_label, best_model.predict(temp_data)))
    print('f1_score: ', f1_score(temp_label, best_model.predict(temp_data)))

    pu_end = time.perf_counter()
    
    test.loc[i] = [  temp_min, temp_max,
                        precision_score(temp_label, best_model.predict(temp_data)),
                        recall_score(temp_label, best_model.predict(temp_data)),
                        accuracy_score(temp_label, best_model.predict(temp_data)),
                        f1_score(temp_label, best_model.predict(temp_data)),
                         (pu_end - pu_start)]
    
test.to_csv('../result/cannery_result_without.csv')

In [27]:
orig_data = df_process.iloc[:,:-1].copy()
orig_label = best_model.predict(orig_data)

print(orig_data)
print(orig_label)

       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
0       0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0    0
1       0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0    0
2       0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0    0
3       0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0    0
4       0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0    0
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19995  23   4  16   7  14   2   0  11   9    9  ...   14   18   20   18   23
19996   8   3   6  25  19   6  14  18  14   17  ...    6    8   10   10   18
19997  20  15   8  20  11   0   7  18  16   15  ...   15   16   12    6   17
19998   3  12  10   4  15  25   6  19  17   12  ...    0   20   12    7   17
19999   7  15   3  18   4  14  17   8  10   25  ...   16   10   20   18    9

       p33  p34  p35  p36  p37
0        1    1    0    1    0
1        1    1    0    1    0
2        1    1    0    1    0
3        2    1    0    1    0
4        2    1    0    1    0
...    ...  ...  ...  ...  ...
19995   18   12   14   17   11
19996   10    8   18    6   18
19997   21    5   17    6    5
19998   19   11    0   19    4
19999   19    1    8    9    2

[20000 rows x 37 columns]
[1 1 1 ... 0 0 0]

In [28]:
import xgboost as xgb
model = BaggingClassifierPU(xgb.XGBClassifier(),
                         n_estimators = 50, 
                         n_jobs = -1, 
                         max_samples = sum(y)  
                        )
model.fit(orig_data, orig_label)

BaggingClassifierPU(base_estimator=XGBClassifier(base_score=None, booster=None,
                                                 colsample_bylevel=None,
                                                 colsample_bynode=None,
                                                 colsample_bytree=None,
                                                 gamma=None, gpu_id=None,
                                                 importance_type='gain',
                                                 interaction_constraints=None,
                                                 learning_rate=None,
                                                 max_delta_step=None,
                                                 max_depth=None,
                                                 min_child_weight=None,
                                                 missing=nan,
                                                 monotone_constraints=None,
                                                 n_estimators=100, n_jobs=None,
                                                 num_parallel_tree=None,
                                                 random_state=None,
                                                 reg_alpha=None,
                                                 reg_lambda=None,
                                                 scale_pos_weight=None,
                                                 subsample=None,
                                                 tree_method=None,
                                                 validate_parameters=None,
                                                 verbosity=None),
                    max_samples=3077, n_estimators=50, n_jobs=-1)

In [29]:
#verification
import random

place_max = max(np.amax(df_process.iloc[:10000, [31, 32]]))  
name1 = ['min', 'max', 'Precision', 'Recall', 'Accuracy', 'f1_score','time']
test = pd.DataFrame(columns=name1)

for i in range(1, 101):
    pu_start = time.perf_counter()
        
    pos_list = np.random.randint(low=100, high=10000, size=2000).tolist()
    neg_list = np.random.randint(low=10000, high=20000, size=2000).tolist()
    all_list = pos_list + neg_list
    
    flag1 = int((0.1 * (i - 1)) * place_max)
    flag2 = int((0.1 * i) * place_max)
    print(flag2)
    
    temp_data = df_process.iloc[all_list, : -1].copy()
    temp_label = df_process.iloc[all_list, -1].copy()
    
    temp_data.iloc[:, 31] = temp_data.iloc[:, 31] + random.randint((df_max[0] + flag1 + 1), ((df_max[0] + flag2 + 1)))
    temp_data.iloc[:, 32] = temp_data.iloc[:, 32] + random.randint((df_max[1] + flag1 + 1), ((df_max[1] + flag2 + 1)))

    
    print('======')
    print(temp_data.iloc[:, :])

    temp_max = max(np.amax(temp_data.iloc[:, [31, 32]]))
    temp_min = min(np.amin(temp_data.iloc[:, [31, 32]]))

    print('---- {} ----'.format(i))
    print('Precision: ', precision_score(temp_label, model.predict(temp_data)))
    print('Recall: ', recall_score(temp_label, model.predict(temp_data)))
    print('Accuracy: ', accuracy_score(temp_label, model.predict(temp_data)))
    print('f1_score: ', f1_score(temp_label, model.predict(temp_data)))

    orig_data = pd.concat([orig_data, temp_data], ignore_index=True)
    orig_label = pd.Series(orig_label.tolist() + model.predict(temp_data).tolist())
    model.fit(orig_data,orig_label)
    
    pu_end = time.perf_counter()
    
    test.loc[i] = [  temp_min, temp_max,
                        precision_score(temp_label, model.predict(temp_data)),
                        recall_score(temp_label, model.predict(temp_data)),
                        accuracy_score(temp_label, model.predict(temp_data)),
                        f1_score(temp_label, model.predict(temp_data)),
                         (pu_end - pu_start)]
    
test.to_csv('../result/cannery_result.csv')

0
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
9624    0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   17
2043    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   11
1301    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   10
7597    0   0   0   0   0   1   0   0   0    1  ...    1    0    1    0   15
9507    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   17
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19416   2  10   4   1  12  13  12  22   2   23  ...    8   22   21   11   10
18438  12   1   5   1  20  17   0   4  15   22  ...    8   17   24   18   11
12121  20  22   5  22   3  11  22  23  19   17  ...   20    6    0   16   26
12431   9   8  25  25  12  12  22  18   8   21  ...    2   10   13   13   12
13973   9   8   7   3  25   8   2  17   9   25  ...   24    1    7   12   31

       p33  p34  p35  p36  p37
9624     7    1    0    1    0
2043     8    1    0    1    0
1301    10    1    0    1    0
7597     8    1    0    1    0
9507     7    1    0    1    0
...    ...  ...  ...  ...  ...
19416   28   18   23   14   13
18438   19    6   25    6   20
12121   27    9   22   17   23
12431   11    0    3   20   20
13973    6    5   12   15    3

[4000 rows x 37 columns]
---- 1 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
1
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
4638    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   14
5661    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   14
5396    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   14
977     0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   11
4487    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   14
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
18478  22   7  18  14  13  11  17   8  21   20  ...   23   16   13    7   12
15052  19   5  25  18   1   9   6  23   3   22  ...    6    3    6   22   30
18152  17   5   1   6  12   5   7   4  23    7  ...    5   14    8   24   14
15470   2   6  15   6   7  10  17  14   1    9  ...   13    2    1    6   35
12262  13   5   5  25   3   2   0   9   4   25  ...   22   13   10   13   17

       p33  p34  p35  p36  p37
4638     8    1    0    1    0
5661    11    1    0    1    0
5396    10    1    0    1    0
977     10    0    1    1    0
4487     8    1    0    0    1
...    ...  ...  ...  ...  ...
18478   23   19    7    7   16
15052   26   25   18    5    7
18152   19   22   16   22    3
15470   26   23   14    0   10
12262   18   12   21    5    9

[4000 rows x 37 columns]
---- 2 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
2
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
4437    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   15
3585    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   14
5394    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   15
4125    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   14
7843    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   17
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
17392  22  19  18  25  16   9  10  17  16   15  ...    7   12    0   20   20
15346   3   7  15  22  22  18  20  25   4    1  ...   21   12   11   11   16
12751  12  18   3  18  20   5  23  11  17   18  ...   20    6   11    5   33
16414  14   4  20  19   3   4  15  21  13    7  ...   15   18   13   10   33
15858  24   7   2   4   5  16  25  23   2   11  ...    7   20    9   16   22

       p33  p34  p35  p36  p37
4437     8    1    0    1    0
3585     9    0    1    1    0
5394    10    1    0    1    0
4125    11    1    0    1    0
7843    10    1    0    1    0
...    ...  ...  ...  ...  ...
17392   12   14   14   21   23
15346   20   13    6    8   13
12751   28   19    1   12    9
16414   22   25   25   14   13
15858   25    5    3   20   15

[4000 rows x 37 columns]
---- 3 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
3
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
1209    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   13
2117    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   14
8101    0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   18
4952    0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   16
4639    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   16
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
17573  16   9   9  18  24  20   0  23   6    4  ...    4   15   20   15   33
16773  13   8  25  24   2  14  11  23  20   21  ...   19    3   17    4   14
17881  20  17  22  15  19  15   1   2   6    9  ...   15   24   22    9   24
13093   6  22   5  13  22   3  17  15  12    1  ...   21   21    0   23   16
10089  21  24  20   8  13  19  14  21   6   11  ...    0    4   24   17   16

       p33  p34  p35  p36  p37
1209    13    1    0    1    0
2117    11    1    0    1    0
8101    12    1    0    1    0
4952    11    1    0    1    0
4639    10    1    0    1    0
...    ...  ...  ...  ...  ...
17573   20   13    0   22   13
16773   30    5   24   14   15
17881   16   17   25   12   13
13093   18    7   20   20   12
10089   29    3   19    8    7

[4000 rows x 37 columns]
---- 4 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
4
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5118    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   17
7606    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   19
6136    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   18
3908    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   16
2254    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   15
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10733  16  18  23   4  18   6   7  24  19    8  ...    4   10   12   21   15
15243   6   6  23  22  24  19   3  14   9    5  ...    2   17    7    9   31
14670   8  18  11  18  16   3   9   6  18   24  ...   12    9   14   21   36
19443  24   0  21  22   9  11   4  24  23   15  ...   19   19   18   19   36
14361  12   9  15  23   0  11   9  16  11    9  ...   13    9    3   23   34

       p33  p34  p35  p36  p37
5118    12    1    0    1    0
7606    11    1    0    1    0
6136    11    1    0    1    0
3908    12    1    0    1    0
2254    12    1    0    1    0
...    ...  ...  ...  ...  ...
10733   15    6    6    8   22
15243   12   25    1   19    5
14670   12    6    4   24   22
19443   21    1   23    3   17
14361   10   11   22   23   13

[4000 rows x 37 columns]
---- 5 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
4
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
9349    0   1   0   0   0   0   0   0   0    1  ...    1    0    1    0   20
9958    0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   21
2119    0   0   0   0   1   0   0   0   0    1  ...    1    0    1    0   15
8916    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   20
8846    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   20
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19722   7  23  17  13  16  11  24   6  23   13  ...    5    7   10    5   35
12832   6   1  11  21   6  23   1  22  18    6  ...    5    3   16    5   15
19040   8   8  13  25   6   9  14  19   5    7  ...   20   18   18   14   21
14920   7   5  19  18   8   1  17   5  16   16  ...   20   25   25   20   28
14503  11  25   4  22  13  11  16  24  10   10  ...   18    3   10   20   21

       p33  p34  p35  p36  p37
9349    13    1    0    1    0
9958    12    1    0    1    0
2119    12    1    0    1    0
8916    12    1    0    1    0
8846    12    1    0    1    0
...    ...  ...  ...  ...  ...
19722   24    1   23   10   11
12832   11   24    0    8    5
19040   23   21   15   15    8
14920   15   10    9    6    6
14503   33    7    6    5   11

[4000 rows x 37 columns]
---- 6 ----
Precision:  1.0

Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
5
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6936    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   19
9589    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   22
8381    0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   21
6855    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   19
2735    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   16
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
15964  18   5  25   5   1  11   4   5   8    7  ...    2    7   18   11   36
15185   9  17  17   1   2  16  10  20  13   13  ...   10    7   10   25   23
10669  11  20  19   0   6   0  13  16  13    0  ...    5   24    6    4   25
15825   6   8   1  13  12   2  18  15   9    2  ...    4    9   11    3   23
18721   0  16   7  14  25  13  16  25   5    3  ...    8   17   10    6   38

       p33  p34  p35  p36  p37
6936    14    1    0    1    0
9589    11    1    0    1    0
8381    11    1    0    1    0
6855    14    1    0    1    0
2735    14    1    0    0    1
...    ...  ...  ...  ...  ...
15964   14    4   10    0   25
15185   29   10   22    1   25
10669   12   25   18    3   21
15825   25   14    4   25   10
18721   19   21   24    1    0

[4000 rows x 37 columns]
---- 7 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
6
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8510    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   22
7547    0   0   0   0   0   1   0   0   0    0  ...    1    0    0    1   21
2418    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   17
9961    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   23
3383    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   18
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
18417  20  11  10   9   4   0  21  25   6    5  ...   10   10    2   24   26
17019  11   4   6  10  21  23  23   0  20   16  ...    2   18   18    6   31
14578   6  14   5   6  25  16   6   8  11   14  ...    8   23   23   23   35
19229  22   1   8   2   7   5   1   2   3   23  ...   16   19   23   24   31
16245  18   7  14   7  24  22   5  10  19    1  ...   18    7   21   16   34

       p33  p34  p35  p36  p37
8510    13    1    0    1    0
7547    14    1    0    0    1
2418    15    1    0    1    0
9961    14    1    0    1    0
3383    14    1    0    1    0
...    ...  ...  ...  ...  ...
18417   22    0   15    4    0
17019   27   19    3    7    6
14578   22   10   18   24    2
19229   19   23    1    4   13
16245   35    7   14   10   12

[4000 rows x 37 columns]
---- 8 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
7
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
7390    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   21
2161    0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   17
2110    0   0   0   0   0   0   1   0   1    0  ...    0    1    1    0   17
1381    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   16
2816    0   0   0   0   1   0   0   0   1    0  ...    1    0    1    0   17
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12256   2   7   6  24  11   4   1   4  21    1  ...   23    7    7    8   28
16381  16  24  10  25   0   4   2   2   7   18  ...    3    9    7   14   17
14196  19   6   8   4  21  22   5  13  25   23  ...   10   12   22   15   32
19436  23  24  17   2   1  14  19   5   0    8  ...   17   20    1   25   32
15071   2   9   0  25  18  19  10   3  25    8  ...   18   11    7   23   20

       p33  p34  p35  p36  p37
7390    13    1    0    1    0
2161    14    1    0    1    0
2110    14    0    1    1    0
1381    16    1    0    1    0
2816    16    1    0    1    0
...    ...  ...  ...  ...  ...
12256   22    5   18    1    8
16381   29   11   11    9    3
14196   33   17   23    6   24
19436   16   25    5   12    1
15071   33   16    2   11   19

[4000 rows x 37 columns]
---- 9 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
8
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
7120    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   22
5145    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   20
4957    0   0   0   0   0   1   0   0   0    1  ...    1    0    1    0   20
4310    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   19
5403    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   20
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12703  16   3  18  10  12  20  13  25  12    6  ...    3   23   11    1   18
15649  25  22  12  21  22  23   8   2  20    1  ...   15   23    5    2   34
18770   3  24  15  21   6   1   2   6  12    8  ...    3   12   13    2   31
15226   8  18  18   5   4  19  23  12   4   16  ...    5   23   24   25   33
18354  25  13  23   8   7  10  22  14   5    8  ...   24    2   23   21   25

       p33  p34  p35  p36  p37
7120    15    1    0    1    0
5145    17    1    0    1    0
4957    16    1    0    1    0
4310    18    0    1    1    0
5403    17    1    0    1    0
...    ...  ...  ...  ...  ...
12703   23   25   17    7    2
15649   14   14   22   15   19
18770   23   16    2   24   19
15226   25   13   18   19   17
18354   28   10   14   18   18

[4000 rows x 37 columns]
---- 10 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
8
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8308    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   24
2428    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   19
5229    0   0   0   0   0   1   0   0   0    0  ...    1    0    0    1   21
1351    0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0   18
3082    0   0   0   0   0   1   0   0   0    0  ...    1    0    0    1   20
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12982  14  23   0   4   5  11   7  15   3    3  ...    6   16    1    6   25
18367  12   4   2  13  23  23  23  18  14   20  ...   15   13    9    7   30
15506   7  14   7  17  16   3  19  17  10   12  ...   13   21    8    9   26
16990   3  15  13   0  24  17  20  17  10    8  ...   24   19    3    7   42
16431  21  18  18  16   3  20   7   0   2    2  ...   16    7   16   15   24

       p33  p34  p35  p36  p37
8308    15    1    0    1    0
2428    17    1    0    1    0
5229    17    1    0    0    1
1351    18    0    1    1    0
3082    15    1    0    0    1
...    ...  ...  ...  ...  ...
12982   28    4   20   24   21
18367   34   10   25    4    8
15506   20   24   16    5   18
16990   31   15   10    6    1
16431   25   21   20    2   14

[4000 rows x 37 columns]
---- 11 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
9
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
228     0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   19
5879    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   23
8696    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   25
937     0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   19
9298    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   25
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19444   6   0  23   7  12   8   1  23   4   19  ...    2   22   19   22   31
18241  23  19  15  12   8   0  13  23  11   16  ...    0   18   18    7   34
13584  23  21  19   9  12  11  24  11   3   15  ...   19    5   22   12   35
18209  18   6  11  21  16  14   9  14  23   24  ...    3   14   17   16   41
15345   9  19   6   3   5  21  21  14  25    7  ...   18    6    7   22   32

       p33  p34  p35  p36  p37
228     15    0    1    1    0
5879    15    1    0    1    0
8696    16    1    0    1    0
937     17    1    0    1    0
9298    17    1    0    1    0
...    ...  ...  ...  ...  ...
19444   24    8   24    3    5
18241   37    6   22    2   13
13584   23    1   10   14    2
18209   33    7   13   18    4
15345   22    4   11   18    5

[4000 rows x 37 columns]
---- 12 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
10
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6072    0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   24
6986    0   0   0   0   1   0   0   0   0    0  ...    1    0    0    1   24
5603    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   23
7661    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   25
4725    0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   23
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12319   6  13  15   4  21  11   7  11  13   20  ...   18   13   14   15   34
18760   4  22  10  10  12  20  25  20   6   24  ...    4    4    3    3   31
10815  20  22  16   5   7  10  19   8   7   16  ...    6    1    3    1   25
17051   2  17   4   9  25  18  23  13   5   25  ...   20    9    4   16   27
19238  14   1  17  23  11  12  23  17  22   22  ...    5    1    2   11   38

       p33  p34  p35  p36  p37
6072    16    1    0    1    0
6986    19    1    0    0    1
5603    19    1    0    0    1
7661    17    0    1    1    0
4725    16    1    0    1    0
...    ...  ...  ...  ...  ...
12319   20   13   13   11   19
18760   37   22   23   21   20
10815   16   17    1    0   22
17051   40    2   15    1   18
19238   31    2   11    1   13

[4000 rows x 37 columns]
---- 13 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
11
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
2955    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   22
7047    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   25
4822    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   24
670     1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   21
7090    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   26
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
17543  18  10   8  23  16  17   7  18  23   23  ...    2   19   22   14   30
18987  12  23  14  23  23  17  14   0  24    9  ...    5   17   15   18   24
17523  13   9  25   9   6  13  13   0  25   20  ...   17    0   13    7   24
14549   7  25   6   1   8   1  24  20  21   14  ...    9   25   11   18   29
10223   7  20  17  25  20  13   7  19  21    8  ...   17   16    4    1   34

       p33  p34  p35  p36  p37
2955    20    1    0    1    0
7047    20    1    0    1    0
4822    18    1    0    1    0
670     18    1    0    1    0
7090    17    1    0    1    0
...    ...  ...  ...  ...  ...
17543   41   22   14    3   17
18987   20   19    9   10    8
17523   38    1    8   13   16
14549   24    2    8    1   15
10223   25   18    3   19    1

[4000 rows x 37 columns]
---- 14 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
12
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
2802    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   22
6795    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   25
4830    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   24
9088    0   0   0   0   1   0   0   0   0    0  ...    1    0    0    1   27
6117    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   25
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
18810  22  14   7   5   8  16   4  23   1    4  ...   10   20    9   21   44
13160  21   8   2   0   6  12   9   9  11   18  ...    4    6   16   21   42
12541  25  15   2   8   5  17   3   5  11    8  ...   17   11   21   14   28
16843   3  12  17  23  14  21  14  20  19   22  ...   18   16    8    5   33
17507  25   3   1   5   5  22  14   0  25    2  ...   23   11   15   11   21

       p33  p34  p35  p36  p37
2802    22    1    0    1    0
6795    21    1    0    1    0
4830    20    1    0    1    0
9088    21    1    0    0    1
6117    20    1    0    1    0
...    ...  ...  ...  ...  ...
18810   27   14    1    1    6
13160   41   22   25    2   21
12541   19    4    6   24   19
16843   32   12    4    0    0
17507   39    0    6   18    9

[4000 rows x 37 columns]
---- 15 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
12
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
4468    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   25
9536    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   29
8874    0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0   28
5498    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   25
2777    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   23
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
15415   2  21   9  11  11   1   0   5  16   11  ...    7    6    5   11   27
10034  21   6  23   9  25   8  22  10  24   12  ...   23   15   23   13   43
17748  18  24  19  25   6   6   1  25  20   23  ...    3    3    2   15   28
12161  10  19  16  24   6   2   1  12   0   23  ...   24   20   19    4   30
16097  13  20  11  14   3   4   0  21  18   21  ...    9    9    0   16   30

       p33  p34  p35  p36  p37
4468    19    1    0    0    1
9536    19    1    0    1    0
8874    20    0    1    1    0
5498    22    1    0    1    0
2777    22    1    0    1    0
...    ...  ...  ...  ...  ...
15415   31   14   11   18   22
10034   25    6   14    9    3
17748   41    8    4   15   23
12161   19    7   23   18   22
16097   19    1   20    9   20

[4000 rows x 37 columns]
---- 16 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
13
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5261    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   25
4718    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   25
1331    0   0   0   0   0   1   0   0   0    1  ...    1    0    1    0   22
940     0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   22
3490    0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   24
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16697   9  11   1   9   2   3  16   3  24   23  ...   10    9   20    0   22
12120   4   3  11  11   1  11  23  13  25   18  ...   11    6   18   21   43
17184  16  20  22  13   5   0  14  21   3   13  ...    1   21   11   16   38
11666  21  17   2   4  18  25  24  25  24    5  ...   24    8   23    5   38
14464  15   5   0  16  24  20  18  17  22   16  ...   21    1   22    2   36

       p33  p34  p35  p36  p37
5261    22    1    0    1    0
4718    20    1    0    1    0
1331    23    1    0    1    0
940     22    1    0    1    0
3490    21    1    0    1    0
...    ...  ...  ...  ...  ...
16697   38    5    4   18   15
12120   37   21   23   15   23
17184   34   25   10    0   14
11666   43    3   21    2   21
14464   21    5   22   19   10

[4000 rows x 37 columns]
---- 17 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
14
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
7497    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   29
8525    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   30
9561    0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   31
6573    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   28
1851    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   25
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
11625  25   6  16   4   5   3  21  22  17   12  ...   21   23    2    0   30
19628  18  12  12  15   1   2  17  17  23   19  ...   12    1   17   13   24
13453   8  10  12   6   3  15   2  24  22    5  ...   19    0   18   15   27
10043   9  14  17   3  21  19  19   5   1    5  ...   22   25   21    4   38
11125  13  13  21  17  13  21  24   3   7   12  ...   10   11   11    1   26

       p33  p34  p35  p36  p37
7497    21    1    0    1    0
8525    20    1    0    1    0
9561    20    1    0    1    0
6573    22    1    0    1    0
1851    20    1    0    1    0
...    ...  ...  ...  ...  ...
11625   26    9   21    2    2
19628   37   12   21   14    4
13453   28    7   11   13   13
10043   32   22    2   15    2
11125   29    6    3   25    1

[4000 rows x 37 columns]
---- 18 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
15
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
1377    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   24
9202    0   0   0   0   0   1   0   0   0    1  ...    1    0    1    0   30
6688    0   0   0   0   1   0   0   0   1    0  ...    1    0    1    0   28
2578    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   25
493     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   24
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16834  10   1   6   2  11  13  23   4  14   19  ...    2   12   22   21   42
19574   5   5   9   4  21   8  23   4   7    4  ...   20    3   16   15   28
18139   1   8  16  17  23  21   3  24   4   24  ...    2   10    2   25   35
18678  24  15   7  19   1   4  11  15   5    9  ...   18   19    0   15   37
11155  18   4   4  24  22  10  19  23  12   12  ...   21    7   24    6   34

       p33  p34  p35  p36  p37
1377    25    0    1    1    0
9202    24    1    0    1    0
6688    24    1    0    1    0
2578    24    1    0    1    0
493     23    1    0    1    0
...    ...  ...  ...  ...  ...
16834   30    3    2   10   18
19574   46    8   13   15   14
18139   23   23    7    1   21
18678   27    3   25    5   23
11155   44    2   20   10   10

[4000 rows x 37 columns]
---- 19 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
16
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6201    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   29
5264    0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   28
1137    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   25
5939    0   0   0   0   0   1   0   0   0    1  ...    1    0    1    0   29
8373    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   31
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10208  20   3   6  11   0   3   1  17   0   21  ...   14   21   24   15   26
13487  10   4   2  24   7  10   7  19   3    5  ...   22   21   25   19   24
18397  18  19  22  21  13   8  24   3  18   25  ...   19    7    0   16   38
19952   7  15  22  17  18  12   2   0   6   24  ...   25   10    4    8   43
11293  15  22  10  25  10  16   4  15  22    8  ...    7   11    9   21   25

       p33  p34  p35  p36  p37
6201    23    1    0    1    0
5264    24    1    0    1    0
1137    25    1    0    1    0
5939    22    1    0    1    0
8373    22    1    0    0    1
...    ...  ...  ...  ...  ...
10208   46   23    2   14    9
13487   26    9    3   19   20
18397   34    1    4   22   14
19952   39    7    5   14   15
11293   29   16   21   19   18

[4000 rows x 37 columns]
---- 20 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
16
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8910    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   32
8179    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   31
6254    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   30
2748    0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   27
4016    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   28
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16327  19  14  14   1  11  10   5  21  22    4  ...   16    9   25   20   42
12595   2   7  13  24   7  16  21   6   7   24  ...   19    2    6    8   39
14161  19  16  14   4   3   0  19  22   2   20  ...    6    3    1   19   39
16871   9  25  22  10  11  17   9  10  15    6  ...    9   14   24    6   47
16091   2   9  12  20  24  23   7  10  17    5  ...    8   14    4    7   33

       p33  p34  p35  p36  p37
8910    24    1    0    1    0
8179    26    1    0    1    0
6254    24    1    0    1    0
2748    26    1    0    1    0
4016    25    1    0    1    0
...    ...  ...  ...  ...  ...
16327   35   19   20   13    2
12595   22    4    5    1   17
14161   39    0    5   10    0
16871   36   13    1   16    4
16091   43    9   12    9    8

[4000 rows x 37 columns]
---- 21 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
17
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
2275    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   28
4106    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   29
5040    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   30
8443    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   33
5476    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   30
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10975  24  19  24  17   3   8  18  22   6    7  ...    1   15    4   17   38
11653  13   0   6   4  14   9  17  25  18   14  ...   23   13    1    5   27
12699   2  24   4   0  12   4  18  14   3   11  ...   17   12   22   23   26
15751  10  10   0  10  16   4   6  11   6   13  ...    4   22    8   11   36
12221  10  18  12   1  15   6  22  21  23   19  ...   20   11   22    9   31

       p33  p34  p35  p36  p37
2275    26    1    0    1    0
4106    27    1    0    1    0
5040    25    1    0    1    0
8443    24    1    0    1    0
5476    26    1    0    1    0
...    ...  ...  ...  ...  ...
10975   39   12   13    9   18
11653   30   22   10   17    8
12699   31    6   17    4   18
15751   38    2   11   17   10
12221   31   15   17   13   16

[4000 rows x 37 columns]
---- 22 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
18
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5153    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   31
5230    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   31
5120    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   31
6695    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   32
3491    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   30
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10639   9   6  24  23  17  22  13  24  14    5  ...   10    5   16    9   48
16868  14  16  11   3   5  16  18   2   7    7  ...    1   25   12    9   33
12507  12  19  20  19  25   7   4  15   4   16  ...   16   16    8   10   36
13065  16  18   2  10  15   6  11   1   6    1  ...    7    9   16   17   47
10980  11  21  25  11  24  15  12  13   9   12  ...    3   15   13   20   38

       p33  p34  p35  p36  p37
5153    26    1    0    1    0
5230    26    1    0    1    0
5120    26    1    0    1    0
6695    26    0    1    1    0
3491    25    1    0    1    0
...    ...  ...  ...  ...  ...
10639   48   13   18   24    7
16868   34   10   15    4    2
12507   30    3   17   11   12
13065   41   25   21   25   16
10980   29    3    9   12    0

[4000 rows x 37 columns]
---- 23 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
19
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
7312    0   0   0   0   0   0   1   0   0    1  ...    0    1    1    0   34
9234    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   35
8554    1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   35
3664    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   31
4319    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   31
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19829  24  12   5   5  15   8  22  24  17   21  ...   16   25   22   14   31
13066   4   6   1   6   3  23  20   2   6   24  ...   20    4   13    4   43
18319  17  15   6  12   2  11  19  18   0   18  ...   21    4    1   23   49
16931  15  15  22  17   9  23   5  15  14   22  ...   10    8    0   22   51
11591   6  12   8  18   6   1  24  23  16   18  ...   16   14    8   25   52

       p33  p34  p35  p36  p37
7312    25    0    1    1    0
9234    27    0    1    1    0
8554    25    1    0    1    0
3664    26    1    0    1    0
4319    28    1    0    1    0
...    ...  ...  ...  ...  ...
19829   45    2    3   16   16
13066   40   18   19    8   10
18319   34   21   23   22   22
16931   46    9   25   17   23
11591   39    4   15   15   17

[4000 rows x 37 columns]
---- 24 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
20
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
3650    1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   31
5151    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   32
9627    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   36
1480    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   29
5621    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   32
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13021  16   3   5  10   1   8   3   5  11   23  ...   15   23   16    6   38
18920  24  25   4   4   5  11  14  15  13    1  ...    5    2    5   24   28
12080  13  10  13  17  12  18  20  14   9    0  ...   11   12   18   17   39
14921  17  18  18   8   0  16   1   2   3    0  ...    2    1   18   13   40
16725   2   0  10  20  12  15   9   2  18   23  ...   24   18   15    8   52

       p33  p34  p35  p36  p37
3650    28    1    0    1    0
5151    29    1    0    1    0
9627    27    1    0    1    0
1480    31    1    0    1    0
5621    30    1    0    0    1
...    ...  ...  ...  ...  ...
13021   46   13   19   19    7
18920   31    2   10    0    1
12080   38    0   22   20   19
14921   45   20    5   15   14
16725   38   10   18   22    9

[4000 rows x 37 columns]
---- 25 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
20
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6147    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   34
5329    0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0   33
3561    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   32
9630    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   37
931     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   30
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19135  18  19  23   7   6  13  14   6  15    5  ...    0   19   20   21   37
10115   5  21   2  24  23   3   0  21   4    0  ...    2    1    3   17   42
18951  24   7   3   3   7  20   7   4  19    2  ...    5   20    1   20   37
11996  16  18  20  22  20  23  11  16   6   25  ...   10   18   22    7   41
17053   0  22  12  23   9   7  23  16  24    6  ...   10    1   24   23   37

       p33  p34  p35  p36  p37
6147    28    1    0    1    0
5329    29    0    1    1    0
3561    28    0    1    1    0
9630    27    1    0    1    0
931     29    1    0    1    0
...    ...  ...  ...  ...  ...
19135   49    0   20   15   18
10115   44   14    6   15    8
18951   48   11   13    8   14
11996   43   11   21   23    4
17053   33   15    0    6    2

[4000 rows x 37 columns]
---- 26 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
21
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5207    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   33
3304    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   32
4754    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   33
1109    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   30
1138    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   30
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10229  25  12  20  11  16   6  16   6  24   22  ...    9   15   11   17   47
16827  19   2   7   8   9  23  16   0   0    4  ...   22   16   14   17   38
14924   0  22   2  13  13  16  19  19  15   12  ...    4   22    9   19   39
12931   2  18  12  24   3  12   0  17   8   18  ...   24   11   24    7   31
18128   5   6  15  25  21   8   7  23  11   10  ...   21    9    4   19   44

       p33  p34  p35  p36  p37
5207    30    1    0    0    1
3304    28    1    0    1    0
4754    29    1    0    1    0
1109    31    1    0    1    0
1138    31    1    0    1    0
...    ...  ...  ...  ...  ...
10229   34   11   17   19   15
16827   32    6    3    5   23
14924   39    7   15   15    6
12931   38   18    0    0   15
18128   48   10    3   15    9

[4000 rows x 37 columns]
---- 27 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
22
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
338     0   1   0   0   0   0   0   0   0    1  ...    1    0    1    0   32
9305    1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   38
1186    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   32
3125    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   34
7082    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   36
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12571   6   9  19  24   0  15   8  24  19    6  ...   14    8   25    5   33
14807  17   3  14  15  21  12  13   5   4   20  ...   11   19    3   10   43
10787   2  10  16  21  21  17   7  18   2   23  ...   25   18    1    2   50
19187  15  12  25   2  18  25   3  17  20   18  ...   14   20   14   11   36
14733   9  25  12   5   6   7  24   5  24   23  ...    7   10   14   16   31

       p33  p34  p35  p36  p37
338     29    1    0    1    0
9305    31    1    0    1    0
1186    32    1    0    1    0
3125    29    0    1    1    0
7082    32    0    1    1    0
...    ...  ...  ...  ...  ...
12571   39   21   15   19    4
14807   44   13   16   16    4
10787   48   20   15   19   13
19187   38   15   22   20    7
14733   28   13    9   24   17

[4000 rows x 37 columns]
---- 28 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
23
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
3055    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   35
8509    0   0   0   0   0   0   1   0   1    0  ...    0    1    1    0   39
5133    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   36
2224    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   34
3147    0   0   0   0   0   1   0   0   0    1  ...    1    0    1    0   35
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10743   6  10   9  25  25  20  13  22   4   24  ...   10   13    1   20   54
19036  10  20  20  22  13   1  25  20  10    7  ...   17   18    6    3   34
13616  23  22  25   3  23  19   4  20  22    9  ...   10   20   16   19   43
17591  20   8  12   3  18  10   2   3  10   10  ...    5   21    5    2   56
17559  13  25  16  12   2   0  23   8   2   24  ...   11   10   11   25   45

       p33  p34  p35  p36  p37
3055    29    1    0    1    0
8509    29    0    1    1    0
5133    31    1    0    1    0
2224    30    1    0    1    0
3147    29    1    0    1    0
...    ...  ...  ...  ...  ...
10743   50    6   16    5   13
19036   47   25    3    0    3
13616   53   14   25   24    6
17591   33    4    6    4    9
17559   48   11    3   15    4

[4000 rows x 37 columns]
---- 29 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
24
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6661    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   38
6791    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   38
3613    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   36
6117    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   38
133     0   0   0   0   1   0   0   0   0    0  ...    1    0    0    1   34
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10613  20  16  17   9  13   5   5  10   3   25  ...   14   10   15   23   41
16493   2  22   1  20  22   1  23  17  22   19  ...    4    2   24   12   41
10861  11   0  25   2  18  23  21  15  19   10  ...   18    9   13   11   53
17764  17  21  14  14   3  21  15   1  19   10  ...   20    6    9   13   35
18194   6  21   0  24  25  18  21   1  25    8  ...   15   25   20    4   34

       p33  p34  p35  p36  p37
6661    32    1    0    1    0
6791    32    1    0    1    0
3613    31    1    0    1    0
6117    31    1    0    1    0
133     30    1    0    0    1
...    ...  ...  ...  ...  ...
10613   40   21   25    2    1
16493   36   13   15    0    2
10861   35   10   10   11    9
17764   36   24    9    6    7
18194   29   18    3    5    1

[4000 rows x 37 columns]
---- 30 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
24
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
4785    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   37
5729    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   37
3989    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   36
661     0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   34
2057    0   0   0   0   1   0   0   0   1    0  ...    1    0    1    0   35
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12544   9   3  18   6  25  12  24  10  11    2  ...   14    3   11   16   35
15966   2   2  17  23  20  21   6   1   5   25  ...   24    0   24   21   39
10446  14  17   2  22  24   2  15  13   5    7  ...   15    2   12    4   43
13292  17  23  16   6   7  18  14   3  21    0  ...    5    3    0    9   57
13054  12  12   1  18  24  18  20   5   7   13  ...   17    5   13   15   38

       p33  p34  p35  p36  p37
4785    32    1    0    1    0
5729    34    0    1    1    0
3989    33    1    0    1    0
661     32    1    0    1    0
2057    32    1    0    1    0
...    ...  ...  ...  ...  ...
12544   42    1    9   19   15
15966   30   23   21   11    2
10446   44   19   22   11   20
13292   43   13    0   19   14
13054   40    0   21   13    5

[4000 rows x 37 columns]
---- 31 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
25
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
719     0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   34
1771    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   35
5135    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   37
892     0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   34
3489    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   36
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
11695  22  11  24   0  15   5   3   6   0   12  ...   15   21   14   16   53
14080   6   1  13  23   0   9   3   5   1    5  ...   24    7   24    9   46
10849   1   6  16   4  22  24  16   0  22    8  ...   18    4   12   23   42
16157   6  17  11  11  25   1   2   7   2    7  ...   20   20   21    3   36
11928  14  19  18  10   1   3  11  19   2   24  ...   21    6    1   22   57

       p33  p34  p35  p36  p37
719     32    1    0    1    0
1771    31    1    0    1    0
5135    33    1    0    1    0
892     33    1    0    1    0
3489    32    1    0    1    0
...    ...  ...  ...  ...  ...
11695   53   22    7    0    5
14080   53   16   19    0   20
10849   35    6   22    2    2
16157   34    0    8   18   16
11928   50   20    9   15   17

[4000 rows x 37 columns]
---- 32 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
26
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8149    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   40
7410    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   40
2969    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   36
1257    0   0   0   0   0   1   0   0   0    0  ...    1    0    0    1   35
3245    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   37
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12914  20   4  14   5  15  16  15  11  18    4  ...    8   17    0   18   52
15976  17  15   3   2   8  20   1  17  19   11  ...   10    1   12   18   49
12971  14  10  19  17  18   7  10  12   6   17  ...   13    0   13   10   43
12696   1  13   2   1  10  21  15  25  17   13  ...    5   16   22   21   34
18755  22  13  11  20  15   0  18   2   3   19  ...   22   19   16   20   49

       p33  p34  p35  p36  p37
8149    36    1    0    1    0
7410    34    1    0    1    0
2969    36    1    0    1    0
1257    36    1    0    0    1
3245    33    1    0    1    0
...    ...  ...  ...  ...  ...
12914   34    6   22   14   20
15976   41   19   20    5   11
12971   48   25   20    0    9
12696   37    4   10    3   25
18755   33    2   14    5   21

[4000 rows x 37 columns]
---- 33 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
27
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
7184    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   42
4747    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   40
3071    0   0   0   0   1   0   0   0   0    0  ...    1    0    0    1   39
8106    1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   42
9136    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   43
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16578  11   8   3  18  18  21  15  12  17    7  ...   25   11    7   17   50
10867  17  22   9  22  22  13  25   4   2   24  ...    2   21    2   13   57
10949   7  11  18  15  23   4  18  13  21    6  ...   12    1   14    1   37
13226  13  20  19   1  24  15  13  13  20   14  ...   14   17   24    8   41
16230  12  14   4   4   9   5  10   0  17   18  ...   18    9   10    8   46

       p33  p34  p35  p36  p37
7184    34    1    0    1    0
4747    35    1    0    1    0
3071    34    1    0    0    1
8106    36    1    0    1    0
9136    36    1    0    1    0
...    ...  ...  ...  ...  ...
16578   43    7   23   12   15
10867   33   19    8   10   25
10949   37   12   14   21    6
13226   36   22   10    9    1
16230   33   24   15    1   14

[4000 rows x 37 columns]
---- 34 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
28
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6172    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   41
9641    0   0   0   0   1   0   0   0   0    1  ...    1    0    1    0   44
9608    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   44
6729    0   0   0   0   0   0   1   0   1    0  ...    0    1    1    0   41
5405    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   40
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16486   3   8   9  16   8  13   0  22   6    0  ...   18   18   23    5   58
17679  13   1  21   7  24  25   8  20  24   12  ...   14   20    8    3   37
13498  23  13   8  25   7   2   6  13  21   24  ...   13   17   14   10   53
12783  24  18  17  21  18  14   3  25   5    6  ...   24    4    4   21   37
13945   1  18   2  15  22   6  22  12  22    4  ...   20   21    8   25   44

       p33  p34  p35  p36  p37
6172    35    1    0    1    0
9641    34    1    0    1    0
9608    34    1    0    1    0
6729    36    0    1    1    0
5405    36    1    0    1    0
...    ...  ...  ...  ...  ...
16486   47    4    7   20   11
17679   54    7    0   17   11
13498   35    5   15    6    3
12783   56   17    8    7    6
13945   54   15   16   21   22

[4000 rows x 37 columns]
---- 35 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
28
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6820    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   42
7278    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   43
7776    0   1   0   0   0   0   0   0   0    1  ...    1    0    1    0   43
7287    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   43
1798    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   39
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
14838   9   0   8  19   1  19   0   7  21    8  ...   18    2    1   14   43
10789  11  14  25   7  19   2  24  11   9    5  ...    8    5    6    5   43
18228   8  16  16   8   9  11   9  18  12   18  ...   24   16    7   12   39
17445  12  12   1  15  13  15   0   1   9   11  ...   17    5   12   20   37
12610  18   7   8   8  12  12  21   7  17   14  ...   12   11   11   12   55

       p33  p34  p35  p36  p37
6820    37    1    0    1    0
7278    35    0    1    1    0
7776    36    1    0    1    0
7287    35    1    0    1    0
1798    35    1    0    1    0
...    ...  ...  ...  ...  ...
14838   53   19    2    9    8
10789   54   14   12   23   18
18228   53    6   12    3    7
17445   47    0    3   18    7
12610   34   20   25   21    5

[4000 rows x 37 columns]
---- 36 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
29
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
2938    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   40
7111    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   44
7209    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   44
5011    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   42
4893    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   42
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13566  19   5   0  19  11   4   4  24   9   23  ...    4   11   10   11   53
19404  16   7   9  11  23  12   6   4  13   25  ...   14   23    6   15   52
18632  20  16   1  22  21   1   6   7   7    2  ...   25   23   21   15   42
10533  21  19  22  25  13  10  24   6  18    3  ...   25   16    6   15   53
14612   7  13  13   8  20   4   7  22  15   19  ...   15   23    2    8   46

       p33  p34  p35  p36  p37
2938    39    1    0    1    0
7111    36    1    0    1    0
7209    36    1    0    1    0
5011    37    1    0    1    0
4893    37    1    0    1    0
...    ...  ...  ...  ...  ...
13566   42   11   23    6   15
19404   58    5   19   19    0
18632   48   15   23   13   15
10533   38   24   23   22   20
14612   46    1   15   14   17

[4000 rows x 37 columns]
---- 37 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
30
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
9118    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   46
7268    0   0   0   0   1   0   0   0   0    1  ...    1    0    1    0   45
1885    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   41
5071    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   43
2463    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   41
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12562  20  10  25  12  21  10   8   5   4    7  ...    6    5   12   10   49
19447  24  20  14   9  16  14  14   6   7    2  ...    0   20    8   14   46
19122   8   4  13   2  23   4  18  22  18   10  ...   15    1    3    3   63
11237  24   2   1  23   4   2  10  14  22    5  ...    5   17   25   14   39
19502  18   4  10  23  15   6  10  17   1   23  ...    7    3   18    5   43

       p33  p34  p35  p36  p37
9118    39    1    0    1    0
7268    37    1    0    1    0
1885    38    1    0    1    0
5071    38    1    0    1    0
2463    39    1    0    1    0
...    ...  ...  ...  ...  ...
12562   58   14   10    4   19
19447   51   16    0    4    7
19122   42   12   11   10   14
11237   46    4   19    0   12
19502   53   17   10   11    6

[4000 rows x 37 columns]
---- 38 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
31
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6282    0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   45
9063    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   47
126     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   41
9465    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   48
7726    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   46
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
14127  24   8   8  16  25  18  16  11   0   11  ...   11    6   21    6   65
13212   5   2  16  16  19   9   6   0  17   11  ...   11   17    4    9   43
15335   7  18  22  19   4  10  19  15  11    0  ...    3   19    2    0   61
14357   1   7  21   1  15   9   6  17   1   18  ...   23   23   10    8   55
19281  24  23  17  23  13  16  14  21  14   18  ...    6   10   19    1   42

       p33  p34  p35  p36  p37
6282    39    1    0    1    0
9063    40    1    0    1    0
126     38    1    0    1    0
9465    38    1    0    1    0
7726    39    1    0    1    0
...    ...  ...  ...  ...  ...
14127   53   22    3   25   21
13212   37    3    0    0   20
15335   44   10   16    4   20
14357   61   17   10    7   21
19281   50    6   13   15    1

[4000 rows x 37 columns]
---- 39 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
32
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
2662    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   43
8023    0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0   47
7546    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   47
5580    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   45
102     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   42
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10353  13  11   5  18  15   1   2  19   8   12  ...    8   23   10    5   56
19207   3   3   2  14   6  21   7  20   3   17  ...   14   14    8   24   65
11093   3  12  14  23  24   0   3   2  15    6  ...   18    0   19   25   52
14700   7  25   2   3   2  10  17  19  10   22  ...   23   10   21   17   63
13102   7   9  15  24  19  24  20  22  24   23  ...   15   17   25    3   44

       p33  p34  p35  p36  p37
2662    42    1    0    1    0
8023    41    0    1    1    0
7546    40    1    0    1    0
5580    42    1    0    0    1
102     39    1    0    1    0
...    ...  ...  ...  ...  ...
10353   43    0   21   19   20
19207   54   11    7    4    8
11093   63    5    8   15    0
14700   47   16    4    2   13
13102   50    5    9   13   20

[4000 rows x 37 columns]
---- 40 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
32
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
7685    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   47
8850    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   48
753     0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   42
5231    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   45
647     0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   42
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
17161  19   5  21  23  21  11  19   2  19   25  ...   22   20   21   20   43
13508  16  25   3  15  22   6  23  14   6   15  ...   13    9    6   10   41
19719  22  19   9  20  20  18  22  13  21    0  ...   21    2    0    9   61
19546   7   2  24   9  10  16   1  11   4    8  ...   21   25    1   11   49
12986  20  16  17   7  17  13   3  21  24    6  ...   12   18    8    1   41

       p33  p34  p35  p36  p37
7685    40    1    0    1    0
8850    40    0    1    1    0
753     41    1    0    1    0
5231    41    1    0    1    0
647     40    1    0    1    0
...    ...  ...  ...  ...  ...
17161   48   16    4   20    4
13508   54   22    5   19   11
19719   47   24    9    7    3
19546   43   11   23   16    6
12986   48    0   13   21   21

[4000 rows x 37 columns]
---- 41 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
33
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8525    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   48
1998    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   43
990     0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0   42
7587    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   47
9103    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   48
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
14061  24  13  17  21  23  20   2   3  22    3  ...   21    3   23   14   47
12268   3  14   8  16  11  25  18   3  10   18  ...    7    9   13   21   55
17850  24   3  24   4  20   7  20  19  13   15  ...   21   16    3   13   55
16293   9  15  15   4  20  25  23   0  24   15  ...   24   16    4   25   57
10369  10   5  20  21  10  15   0   1   0   21  ...   24   16    6    0   50

       p33  p34  p35  p36  p37
8525    39    1    0    1    0
1998    40    1    0    0    1
990     41    0    1    1    0
7587    40    1    0    1    0
9103    41    1    0    1    0
...    ...  ...  ...  ...  ...
14061   42   14    8   21   17
12268   61    3   15    5   25
17850   61   10    2    9    2
16293   54   23   17    8   20
10369   48   10    6    6   21

[4000 rows x 37 columns]
---- 42 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
34
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8139    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   49
4008    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   46
3932    0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0   46
3953    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   46
4801    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   47
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10775   7   0   4   8  25   3  12  24  23   12  ...   21   21   22    4   45
16097  13  20  11  14   3   4   0  21  18   21  ...    9    9    0   16   52
11579   4   4  12  13  20   3  23  20  13   21  ...   21   15   19   24   47
10679   0  14   3  25  17   5  20   6  24   10  ...   13   16   18   22   50
14357   1   7  21   1  15   9   6  17   1   18  ...   23   23   10    8   58

       p33  p34  p35  p36  p37
8139    42    1    0    1    0
4008    42    1    0    1    0
3932    42    0    1    1    0
3953    42    1    0    1    0
4801    41    1    0    0    1
...    ...  ...  ...  ...  ...
10775   41    7    5   17   17
16097   40    1   20    9   20
11579   39   14   16   19   12
10679   55   12   12   14   10
14357   63   17   10    7   21

[4000 rows x 37 columns]
---- 43 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
35
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8985    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   50
6925    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   48
2042    0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   45
2571    0   1   0   0   0   0   0   0   0    1  ...    1    0    1    0   45
6878    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   48
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10988   1  20   2  15  15  23   5  24  16   18  ...    2   24   13    9   65
16886  17   4   0   3   7  25  17   0  14   25  ...   20    6    0    9   67
13608  24  18  19   3   7  12  16  12   4   11  ...    1   17   12   16   59
16506   4   7  11   0   1   7   5  12   7   16  ...    2    3    7   21   60
18746  13   6  14   2   4   2  24   5  13    3  ...    4    7   16   25   65

       p33  p34  p35  p36  p37
8985    43    1    0    1    0
6925    45    1    0    1    0
2042    43    1    0    1    0
2571    44    1    0    1    0
6878    45    1    0    1    0
...    ...  ...  ...  ...  ...
10988   57    3   12    5   19
16886   63    1   24   22   17
13608   49   22   10   24   16
16506   49    1    4    2   20
18746   62   23    5   23    0

[4000 rows x 37 columns]
---- 44 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
36
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
1047    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   45
3477    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   47
3905    0   0   0   0   1   0   0   0   1    0  ...    1    0    1    0   47
1737    0   0   0   0   1   0   0   0   0    1  ...    1    0    1    0   46
345     1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   45
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12958   5  20  14  18   8  20  21  15  17   13  ...    3   12   24   13   53
11917  12  20  17  18  11  21   4   8  25   19  ...    4    9   12   24   61
10427   2  23  14  24   6  20  12   2  18   11  ...   10    6   22    9   48
13519  10  24  18   5  18  22  16   1  11    0  ...    3   24   20   17   51
15794  18  22   5   8  11  18   3  22  13   21  ...   19   11   15   21   52

       p33  p34  p35  p36  p37
1047    44    1    0    1    0
3477    43    1    0    1    0
3905    44    1    0    1    0
1737    42    1    0    1    0
345     42    1    0    1    0
...    ...  ...  ...  ...  ...
12958   48   14    6   11    4
11917   43   20    3   21    0
10427   60    9   21    0   21
13519   43   25    5    4   22
15794   56   16   11   11   19

[4000 rows x 37 columns]
---- 45 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
36
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
7857    0   0   0   1   0   0   0   0   0    0  ...    1    0    0    1   51
2330    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   47
784     0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   46
4965    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   49
1865    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   47
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13679   9  13   5   8   5   8  12  22   3   23  ...    6    9   15    2   53
12271  25  25  16   8   7  21   4  20   5   24  ...   14   21    6   23   54
15710  21   9  17   3   0  16   3  19  24   15  ...    1    6    8    2   45
17268   9   6   3  20   4  19  10   7  12    3  ...    2   20   25   20   57
19021  23   0  13   6  22  16   7  16   0    8  ...    9   17   17    9   50

       p33  p34  p35  p36  p37
7857    45    1    0    0    1
2330    45    1    0    1    0
784     45    1    0    1    0
4965    44    1    0    1    0
1865    43    1    0    1    0
...    ...  ...  ...  ...  ...
13679   61   13   12   18   20
12271   57    2    0   16    6
15710   60    6    6   12   25
17268   46   22    8   25    3
19021   42   14   19   15   20

[4000 rows x 37 columns]
---- 46 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
37
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
9212    0   0   0   0   1   0   0   0   0    1  ...    1    0    1    0   52
1670    0   0   0   0   1   0   0   0   1    0  ...    1    0    1    0   47
7066    0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0   50
5832    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   50
8318    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   52
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
17984  18  12  15  16  19   6  19  24  25   24  ...   22   21    9    5   56
10647  21  22   8  13   2   4  22  20  23    6  ...   18    1   18   19   46
19786   4  13  15   8   1  10   3  25  22    4  ...    2    6   25   19   67
17914   2  17  24   3   1  25  16   5  25    0  ...   25    6    8   11   59
19177  11  13   8  22  19  19   6  15   2    8  ...   13    6    4   20   66

       p33  p34  p35  p36  p37
9212    45    1    0    1    0
1670    43    1    0    1    0
7066    46    0    1    1    0
5832    43    1    0    1    0
8318    43    1    0    1    0
...    ...  ...  ...  ...  ...
17984   45   13   13    2    0
10647   55    7   20   21    5
19786   48    9    2    4   14
17914   60    1   19    5    4
19177   63    3    5   14    8

[4000 rows x 37 columns]
---- 47 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
38
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8489    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   53
2206    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   48
7998    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   52
5823    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   51
4877    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   50
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
18551   5  22  16   4   6   5  21   1  15    5  ...   21   20   24    9   71
12957   2  23   0  12  10  24   9   8   0    8  ...   20    1   24    1   61
18631   7   3   8  13   3  14  18   1  21   19  ...   20    3    3   12   59
15411   1  12   3  13  20   1  15  11  18    4  ...   10    6   17   12   66
13733   5  14  25  22   9  20  10  18  17    7  ...   17   21   24   12   71

       p33  p34  p35  p36  p37
8489    45    1    0    1    0
2206    46    1    0    1    0
7998    47    1    0    1    0
5823    45    1    0    1    0
4877    46    1    0    1    0
...    ...  ...  ...  ...  ...
18551   54    4   10    4   22
12957   53   14    9   17   18
18631   46   21   18   11    6
15411   59    8    8   13   24
13733   52   16    5    0   24

[4000 rows x 37 columns]
---- 48 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
39
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5710    0   0   0   0   0   1   0   0   0    1  ...    1    0    1    0   52
3731    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   51
9961    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   56
2826    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   50
4984    0   0   0   0   0   1   0   0   0    1  ...    1    0    1    0   52
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
14161  19  16  14   4   3   0  19  22   2   20  ...    6    3    1   19   62
13726  25  17   2   1   2   9  16  21   2   25  ...    5    7   25   10   50
11422  25  16  11   6   2  24   1   6   4   10  ...    9    9   25   16   49
15108   8  23   0  24  17  18   3  15  17   21  ...    1   14   25   20   72
12868   2  17   0   3  11   6   1  21   7   13  ...   12   13    6   22   50

       p33  p34  p35  p36  p37
5710    49    1    0    1    0
3731    48    1    0    1    0
9961    47    1    0    1    0
2826    49    1    0    1    0
4984    47    1    0    1    0
...    ...  ...  ...  ...  ...
14161   62    0    5   10    0
13726   54    0   15   25   11
11422   48    5    0   20    6
15108   69   14   16   24    6
12868   50   13   25    5    8

[4000 rows x 37 columns]
---- 49 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
40
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6014    0   0   0   0   0   0   1   0   1    0  ...    0    1    1    0   53
5891    0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   53
2819    0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   50
5385    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   52
9337    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   55
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16472  19  25   1  17  16  17  24   6  10   13  ...    4   14   24   17   64
15910  25   7   4  23  10  15   4  16  16    4  ...   11   24   17    1   55
10695   3  13  17   1  23   5  11   7   0   25  ...    8   17   23    6   66
10098  12  22   2   4   5  14   2  10   1   14  ...    8   22   22   22   63
12720   0  13   6   5   8  24   1   4  11    9  ...    4   11   15    6   70

       p33  p34  p35  p36  p37
6014    46    0    1    1    0
5891    46    1    0    1    0
2819    49    1    0    1    0
5385    48    1    0    1    0
9337    48    1    0    1    0
...    ...  ...  ...  ...  ...
16472   67   10    4   16    3
15910   50    5    1   21   15
10695   50   15   22   11   19
10098   70   17    5   22   16
12720   46   21    5   17   15

[4000 rows x 37 columns]
---- 50 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
40
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
1389    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   50
312     0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   50
5808    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   54
8452    0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0   56
8740    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   56
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
18715  12  17  23  14   4  24   6  22  22   21  ...   16   16   14   18   71
12948  20  17  14   7  12   3  11   8   0    5  ...   14   21    5   10   62
12607   3   4  14  23  20  20  16   1   2   13  ...    5    2    9   17   52
17097   2  14  18   1   3  12  17  12   5    1  ...   20   24   14    6   52
14016   0  10  18  16  13  20   4   4  18   18  ...   16   22   25   11   56

       p33  p34  p35  p36  p37
1389    50    1    0    1    0
312     47    1    0    1    0
5808    47    1    0    1    0
8452    47    0    1    1    0
8740    48    1    0    1    0
...    ...  ...  ...  ...  ...
18715   52   15    9   17    1
12948   63   17   23   13    8
12607   49   21   15   10   25
17097   60   14    7    2    2
14016   51    6   19   17    7

[4000 rows x 37 columns]
---- 51 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
41
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
448     0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   50
7628    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   55
2989    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   51
7778    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   55
2761    0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   51
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13461  22  16   0   4  25  16  20  16  15   12  ...   13   25    2    2   74
16100  15  23   5   6  23  21  22  21  16    9  ...   18   23   24    5   72
13259  15   1  10  11  19  18  14   7  21   25  ...    8   25   21    3   70
12756   3  14   6   5  25   8   6  12  21    1  ...    2    0   20   20   61
18358  22  10   6  25  18   6   7  20  24   11  ...   25    4   15   10   50

       p33  p34  p35  p36  p37
448     49    1    0    1    0
7628    49    1    0    1    0
2989    52    1    0    1    0
7778    50    1    0    1    0
2761    51    1    0    1    0
...    ...  ...  ...  ...  ...
13461   51   13   11    7   13
16100   58   22    3   11    8
13259   62   22    3   11   19
12756   49   12   11   11   13
18358   52    1    5    1   24

[4000 rows x 37 columns]
---- 52 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
42
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
278     1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   51
8316    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   57
6007    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   55
546     0   0   0   0   1   0   0   0   1    0  ...    1    0    1    0   51
6738    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   55
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16453  19  14  22  15   5  20  14  18  22   18  ...   15   19   15    7   64
18144  11  23  19   4  12   2  14   6  19    2  ...   20   15    2   11   73
11051  22  16  24   1  20   0   2  10   1    8  ...    3    9   13    4   71
18933   6  24   5   4  17   0   5   2  19   16  ...   19   10    9   18   66
11030  11   5   5  25  19  17   5   0   0   21  ...   11   18    7   17   73

       p33  p34  p35  p36  p37
278     48    1    0    1    0
8316    48    1    0    1    0
6007    48    1    0    1    0
546     49    1    0    1    0
6738    50    0    1    1    0
...    ...  ...  ...  ...  ...
16453   56    1    2   19   20
18144   49   20   20    4   22
11051   64   11   11   16   10
18933   62   13    2   11    3
11030   68   15   23   23   19

[4000 rows x 37 columns]
---- 53 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
43
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
3948    0   0   0   0   0   0   1   0   0    1  ...    0    1    1    0   55
5421    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   56
2298    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   54
6388    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   57
3771    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   55
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16737  12  10   5   1  11   7  24  12  12   19  ...   11   17    4   18   74
12514  13  23   0   4   0  15  12  18  19    8  ...    7   13   25   25   52
14304   6  14  25  11  21   0  11   7  15    3  ...    8   17   23   24   62
10516  24  16  19  20  21  21  23  13   4    7  ...   24   21   20   15   61
15300   1   5  17  12  15  24  15  23  14    2  ...    9   24    2   15   61

       p33  p34  p35  p36  p37
3948    52    0    1    1    0
5421    52    1    0    1    0
2298    52    1    0    1    0
6388    51    1    0    1    0
3771    52    1    0    1    0
...    ...  ...  ...  ...  ...
16737   62   17    6   17   24
12514   72    8   21   14   20
14304   57   24   23   22   18
10516   58   21   20   23    3
15300   53   12    1   16    9

[4000 rows x 37 columns]
---- 54 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
44
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8916    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   59
2543    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   54
2278    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   54
5797    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   57
1932    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   54
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
18204  11   1  19  23  23  19   7  22  19   15  ...    9    5    9   11   56
13089   8  16  14  14  19  23  23  11   6    9  ...   16   25    7    6   74
12181   6  17  12  13  21  14  12   9  13   11  ...   16   10    1   23   56
10083  23   4  23  16  11   2  13  24  17   17  ...   12    3    1    6   64
19691  22  17  13  11   5   1  25  14  12    2  ...   16   22    6   15   73

       p33  p34  p35  p36  p37
8916    51    1    0    1    0
2543    52    1    0    1    0
2278    52    1    0    1    0
5797    50    1    0    1    0
1932    51    1    0    1    0
...    ...  ...  ...  ...  ...
18204   54   11    1   23    5
13089   58   15    4   16    6
12181   65   17   13   18   14
10083   70    8   20   24   10
19691   70   11    8   16   13

[4000 rows x 37 columns]
---- 55 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
44
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
3947    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   56
403     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   54
4360    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   56
1041    0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   54
1540    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   54
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19181   9  22  11  21  23  19  25  10   4   25  ...   14   15    4   12   72
18979  10  19   4  19  14  18   4   9  20    5  ...    7   19   19   14   61
15598   5  19  23  24  17   8  18   5   8   24  ...   16    9   14    7   62
16892  25  17  20   4  20   8   3  19  20    7  ...   17    6   12    3   53
14013  11   3  12   6   8  13  23  20  20   11  ...    0   24   16   24   67

       p33  p34  p35  p36  p37
3947    53    1    0    1    0
403     52    1    0    1    0
4360    54    1    0    1    0
1041    53    1    0    1    0
1540    55    1    0    1    0
...    ...  ...  ...  ...  ...
19181   60   15    9   23    1
18979   64    3   14   21    0
15598   52   21   14   17   16
16892   53   17    2   21   15
14013   61   23   18   10   10

[4000 rows x 37 columns]
---- 56 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
45
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
3148    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   56
7053    0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   58
1923    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   55
9472    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   61
4395    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   56
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13454   6  18  12  25  14   4  25  14  19   20  ...   12   21   13    1   72
15470   2   6  15   6   7  10  17  14   1    9  ...   13    2    1    6   78
11474  24   6   7  18  24  14  22  18   6   24  ...   20   10   17    3   61
19873   9  23  10  14  18   2  15   1  21   23  ...   11   20    0   13   76
14944  11  10  11   3  25   6  12  13  23   14  ...   11    3   15   17   68

       p33  p34  p35  p36  p37
3148    52    0    1    1    0
7053    55    1    0    1    0
1923    53    1    0    1    0
9472    52    1    0    1    0
4395    55    1    0    1    0
...    ...  ...  ...  ...  ...
13454   52   19   12   19   25
15470   70   23   14    0   10
11474   74    3   10   22   18
19873   51    8    8   21    9
14944   74   14    8   16    6

[4000 rows x 37 columns]
---- 57 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
46
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5718    0   0   0   0   0   0   1   0   1    0  ...    0    1    1    0   58
1082    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   55
3558    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   57
1061    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   55
8602    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   61
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
18137  20   9  21  13  24   9   8  17  21   17  ...   10    5   13   18   67
13630  10  10  12  14   5  11  17  17  15    2  ...   18   13    5    1   66
19899  16  18  11   2   2  10  21   1   0    4  ...    4   22   10    6   70
10907  16   3  23  21  18  11  23  13  20   12  ...   14   22   17   13   65
12895  11   7  24  18  12  14  25  21  11   18  ...   15    9    0   17   58

       p33  p34  p35  p36  p37
5718    55    0    1    1    0
1082    54    1    0    1    0
3558    53    0    1    1    0
1061    54    1    0    1    0
8602    52    1    0    1    0
...    ...  ...  ...  ...  ...
18137   64   20   11   21    5
13630   55    5    3    0   18
19899   60    8   19   24   23
10907   62    5    8   10    0
12895   58    3   25   14   10

[4000 rows x 37 columns]
---- 58 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
47
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
2413    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   57
5837    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   60
1461    0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   56
3709    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   58
9359    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   62
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
11413  13  21  20   4   0   6   7  15  16   14  ...   18   22   22    6   67
15587  17  25  24  23  17   7   1   0  16   10  ...   19   23    5   16   73
10924  17   7  15   1  17   7   2  20  10    5  ...    4   17   14   24   72
17107  14   6  17   7  19   3  14   0  16   10  ...    3   22    7   17   67
17680   5  18   8  23  20   3  22  14  12    5  ...   22    4   23    4   70

       p33  p34  p35  p36  p37
2413    55    1    0    1    0
5837    53    1    0    1    0
1461    56    1    0    1    0
3709    55    1    0    1    0
9359    56    1    0    1    0
...    ...  ...  ...  ...  ...
11413   74   12    2   16   23
15587   56   21   17   13   18
10924   60   17   19   21   21
17107   76   17   21   13    6
17680   58   22   19   12    5

[4000 rows x 37 columns]
---- 59 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
48
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
3151    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   59
791     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   57
374     0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   57
7330    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   62
6148    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   61
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10791   5  12   5  19   7  25  13   6   9    6  ...   11    9   17    8   70
13526   9  25  17  11  13   4  19   4   7   21  ...   23   12    7   12   68
19981  12  20  15  19   3  21  11  13   9   13  ...    7    7    0   24   71
12751  12  18   3  18  20   5  23  11  17   18  ...   20    6   11    5   78
13692  24   6  13   2   9  18   7  18  19   22  ...   16    1   25   19   73

       p33  p34  p35  p36  p37
3151    54    1    0    1    0
791     56    1    0    1    0
374     55    1    0    1    0
7330    54    1    0    1    0
6148    55    1    0    1    0
...    ...  ...  ...  ...  ...
10791   73   11   15   23   14
13526   57   17   14    0    7
19981   66   15   11   23   23
12751   74   19    1   12    9
13692   64   10   10   25    4

[4000 rows x 37 columns]
---- 60 ----
Precision:  1.0

Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
48
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5835    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   62
4183    0   0   0   0   0   1   0   0   0    0  ...    1    0    0    1   60
7639    0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0   63
1369    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   58
9029    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   64
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
15772  21  16   4  18   6   6  20  25  21   22  ...   21   18    2   19   75
16655  12  20  23   5  23  12  13   0   4   19  ...   19    6    6   20   65
11633  14  17  25   2   0   3  15  21   1    2  ...    7   17    9    8   72
11565   8   8   6  10  20   3   6  15  18   21  ...    7    2    9   23   79
11747   8   8  21  20  19  24   1  12  20   22  ...   10   17    8   14   62

       p33  p34  p35  p36  p37
5835    55    1    0    0    1
4183    58    1    0    0    1
7639    56    0    1    1    0
1369    58    1    0    1    0
9029    57    1    0    1    0
...    ...  ...  ...  ...  ...
15772   63   10   23   14    7
16655   73   21   12   20    0
11633   64   25   19   10    0
11565   54    6   12    9   22
11747   72   21    0   20   19

[4000 rows x 37 columns]
---- 61 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
49
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5267    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   61
8667    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   64
3329    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   60
479     0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   58
6586    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   62
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10085  16   3   8  25  20  13   0  10  22    0  ...   20   22    5    5   68
14491  25  22  14   2  24  25   6   5   6    7  ...   25    7   14    7   66
13388  19  12   9   4  22  10  17  21  17   13  ...   19   11    0    5   59
15009  22  25  19   4  25   1  24  18  18    1  ...   18   15   10   12   66
12649  24   4  14   1   3  12  16   6  18   20  ...   18    2    4    4   80

       p33  p34  p35  p36  p37
5267    57    1    0    1    0
8667    56    1    0    1    0
3329    56    1    0    1    0
479     56    1    0    1    0
6586    57    1    0    1    0
...    ...  ...  ...  ...  ...
10085   59    8   19   24   19
14491   58   11   15   19   22
13388   56   13   24   25    7
15009   71    2   16    4   16
12649   61    2   23    1    0

[4000 rows x 37 columns]
---- 62 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
50
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
3969    1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   61
2640    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   60
6571    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   63
6029    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   63
2521    0   0   0   0   0   0   1   0   0    1  ...    0    1    1    0   60
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13139   0   1  24  22  22   8  19  25   7   21  ...    2   19    7    4   81
12652  16   5   5  18  11  19   4   5  15    3  ...    2   23    0    1   75
16610  12  14   6  21   9   5  17  24  23   25  ...    4    6   11    1   82
12919   2   9   0   8  11  18   8  11   0    5  ...   11    3   12    9   77
10983  13  25  19  13  21  25  23  23  25    1  ...   14   19   24    7   66

       p33  p34  p35  p36  p37
3969    58    1    0    1    0
2640    59    1    0    1    0
6571    58    1    0    1    0
6029    56    1    0    1    0
2521    58    0    1    1    0
...    ...  ...  ...  ...  ...
13139   69   23   21   10   24
12652   74   24    5   15   19
16610   63   15   24   15    6
12919   71   14   15   10   11
10983   60    2    1   19   12

[4000 rows x 37 columns]
---- 63 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
51
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6839    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   64
3232    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   62
5700    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   63
9857    0   0   0   1   0   0   0   0   0    0  ...    1    0    0    1   67
406     0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   60
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
11522  25   6  22  11   3   4   4   4   3   11  ...    3   17   11    9   59
16270   1  21  25   4  20   6  12  12   4    2  ...    9   22    3   25   66
17030  23   5  20   9   4   6  13  17   4   23  ...   14   20    4    5   66
18338  12  10   3  25  11   6  12  21   5   21  ...    1   19    2   21   62
14920   7   5  19  18   8   1  17   5  16   16  ...   20   25   25   20   74

       p33  p34  p35  p36  p37
6839    59    1    0    1    0
3232    57    1    0    1    0
5700    60    1    0    1    0
9857    58    1    0    0    1
406     58    1    0    1    0
...    ...  ...  ...  ...  ...
11522   66   17   15   21   16
16270   76   15   23   16   24
17030   72   16    0   18   24
18338   74   13   17   25   18
14920   61   10    9    6    6

[4000 rows x 37 columns]
---- 64 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
52
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
867     0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   62
9372    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   68
9779    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   69
144     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   62
9935    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   69
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
17228   4  23  20  20  21   4   4  16  11   10  ...   10    6    5   22   80
12563  24  13  18   8   6   3   2   8  24    0  ...   11   20   25    5   63
14675   3  20   5   3   1   1   3  13  22   17  ...    0   12   20   20   69
18480  16  10   8   0   9   6   6   8  25   19  ...   20    4   20   25   78
15917  14  24  14  24  21   0  23   6   4    3  ...    2    0    6   24   69

       p33  p34  p35  p36  p37
867     61    1    0    1    0
9372    62    1    0    1    0
9779    60    1    0    1    0
144     59    1    0    1    0
9935    60    1    0    1    0
...    ...  ...  ...  ...  ...
17228   75   17   17   17   12
12563   73   18   14   20    5
14675   78    3   17   24    2
18480   82    5   23   20   24
15917   58    5    5    0   12

[4000 rows x 37 columns]
---- 65 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
52
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
7097    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   67
3407    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   64
8528    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   68
274     0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   62
4741    0   1   0   0   0   0   0   0   0    1  ...    1    0    1    0   65
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
18830   3  11  21  18  14  18  10   0  18   24  ...    2    5   24    0   79
15171  16  16   2  10  14  25   4  13   5    5  ...   10    4    6   15   78
10016  17  20  19   0   4   4  14   3  19   21  ...   12    2    2   14   80
17587  18   0  19  13  25  19  24  18  10   10  ...   16   12    8    4   72
13071  21  22  18   4   2  24  21  23   7   12  ...   23   21   23    1   63

       p33  p34  p35  p36  p37
7097    59    1    0    1    0
3407    60    1    0    1    0
8528    59    1    0    1    0
274     59    1    0    1    0
4741    59    1    0    1    0
...    ...  ...  ...  ...  ...
18830   68    1    2   17   13
15171   81   21    4    2    3
10016   66   17   24   23    9
17587   80   24    2   10    3
13071   79   12   11   13   11

[4000 rows x 37 columns]
---- 66 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
53
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
4169    0   0   0   0   1   0   0   0   0    0  ...    1    0    0    1   64
591     0   0   0   0   0   1   0   0   0    1  ...    1    0    1    0   62
9959    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   69
2855    0   0   0   0   1   0   0   0   0    1  ...    1    0    1    0   63
6121    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   66
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16621   3  14  23  21  11   3  10   6  14    2  ...   17    0   14    5   62
15537   3   5  25   1   5  18   0  21   3    1  ...   21   18   24   18   64
14349  13  17  16  12  23   7   9  19  18    6  ...   15   12   12   17   64
13505  15   6   9  23  12  24  25  22  21    9  ...   19   13   17   22   75
10355   5  17  25  13  11  22  22  22   9   20  ...    6   24    9    2   76

       p33  p34  p35  p36  p37
4169    62    1    0    0    1
591     60    1    0    1    0
9959    60    1    0    1    0
2855    62    1    0    1    0
6121    60    1    0    1    0
...    ...  ...  ...  ...  ...
16621   76   14    7   18   17
15537   81   19    9   25   11
14349   81    3   23   23   21
13505   79    1   12   14    1
10355   83   10   14   19   16

[4000 rows x 37 columns]
---- 67 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
54
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
4316    0   0   0   0   0   0   1   0   1    0  ...    0    1    1    0   65
9887    0   0   0   0   0   1   0   0   0    0  ...    1    0    0    1   70
1760    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   64
5970    0   0   0   0   1   0   0   0   0    1  ...    1    0    1    0   67
7004    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   67
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
14883  19  25  10   8  20  20  12  12  25   15  ...   23   14   22   14   83
16399  24   4  18   7  11  16  15  16   8   23  ...   13    2   19   16   82
12493  14  21  21   3   4   2  19  19  23   22  ...   17   20    4   13   81
18378   7  21  25  23   2   5  12   6  15   17  ...   10    0    6   17   80
16921  22  11  18  21   0  16   1  13  18   25  ...   10   24    3   23   68

       p33  p34  p35  p36  p37
4316    64    0    1    1    0
9887    62    1    0    0    1
1760    61    0    1    1    0
5970    61    1    0    1    0
7004    64    1    0    1    0
...    ...  ...  ...  ...  ...
14883   64   12    2    5   22
16399   79   20    0   25    3
12493   74   24   13    6   19
18378   84   10   18   11    1
16921   69   25    6    2   15

[4000 rows x 37 columns]
---- 68 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
55
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
650     0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   64
9028    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   70
3285    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   66
3803    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   66
2143    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   65
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
11868   5   8  20  11  13  19  13   6  13   14  ...    3   15   12   13   80
19830  24   4  14  22  25  16  21   7  16    1  ...   16   20   24   16   74
12706   3  22  11  15  22   7  23   9  16   17  ...   20   21    9   22   67
15078   3   0  25   9   5  12  22  21   8    9  ...    1    8    0    0   65
12979  12  12  16   2  10   8   2  21  23   18  ...    2   15   20   11   82

       p33  p34  p35  p36  p37
650     62    1    0    1    0
9028    63    1    0    1    0
3285    61    1    0    1    0
3803    63    1    0    1    0
2143    62    1    0    1    0
...    ...  ...  ...  ...  ...
11868   65    8    0   20    7
19830   73    0   14   20   24
12706   76   11   19   10   19
15078   82    5   15   16   23
12979   83   18   14    3    3

[4000 rows x 37 columns]
---- 69 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
56
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
3632    1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   68
1276    0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   66
7131    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   71
1895    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   67
2165    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   67
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
17142   3  22   4   9   6  16  25   8   9    6  ...   10   23   18   25   86
12107   7  15  16  25  11  11   3   4  10    3  ...   24   14    3    4   72
18628  16  13  15  15  10  12   3   2  13   10  ...   20    5    6   11   77
12123  18  21   1  22   2  12  16   0  11   25  ...   17   22    5    4   66
12832   6   1  11  21   6  23   1  22  18    6  ...    5    3   16    5   67

       p33  p34  p35  p36  p37
3632    64    1    0    1    0
1276    66    1    0    1    0
7131    63    1    0    0    1
1895    64    1    0    1    0
2165    64    1    0    1    0
...    ...  ...  ...  ...  ...
17142   81   17   12   16    9
12107   71   18   10   10   14
18628   80   25   16   16    6
12123   83    3    4   21    6
12832   63   24    0    8    5

[4000 rows x 37 columns]
---- 70 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
56
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
4592    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   69
5779    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   69
5496    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   69
4236    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   68
190     0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   66
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
17249  25   7   8  24  21  12   7  17  12    3  ...    9   24   11    3   89
10865  20   4  25  10  10   7  14  23   8   10  ...   17    1    8    7   81
15056  21  11  22  25  20  19  17  20  25    4  ...   22    2   10    1   79
19108  18  10  12   7   6  15  22  25  16    4  ...   15   12   25   11   65
18716  13  10  13  25  17   3   5  10   6   17  ...    5   21   15    0   69

       p33  p34  p35  p36  p37
4592    63    1    0    1    0
5779    66    1    0    1    0
5496    66    1    0    1    0
4236    66    1    0    1    0
190     63    1    0    1    0
...    ...  ...  ...  ...  ...
17249   80    1   21    4   18
10865   73    1   10    7   16
15056   73   23   25   17    1
19108   85   23    9   20    7
18716   75   19   11    5    7

[4000 rows x 37 columns]
---- 71 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
57
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8046    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   72
405     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   67
8237    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   72
1756    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   68
6015    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   71
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12031   1  24   0   5   0  16  19   9  18   13  ...   10   24   24   12   88
16556   6  10   4  13   5  20  10  24  12   23  ...   14    9    7   11   79
10626  10   7  17   8  11   9  19   1  12   11  ...   15    0   14    4   76
13980   2   4  14   4   5  17   2   3  10   10  ...    0   21    9   20   74
11127  16   0  16  15  12  13  16  15  17    2  ...   23    2   25   17   81

       p33  p34  p35  p36  p37
8046    66    0    1    1    0
405     65    1    0    1    0
8237    67    1    0    1    0
1756    64    1    0    1    0
6015    64    1    0    1    0
...    ...  ...  ...  ...  ...
12031   67   13    8    6   18
16556   68    6   20    9   21
10626   84    4    4   16   13
13980   70    5   13   24   24
11127   64   10    9   12    1

[4000 rows x 37 columns]
---- 72 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
58
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
2644    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   69
1246    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   68
9184    0   0   0   0   1   0   0   0   1    0  ...    1    0    1    0   74
9507    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   75
361     0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   68
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12870   2  18  22  14  21  11   4  12  18    3  ...   13   17   17   25   67
11230  16  19  11  20   8  23  18   2   1   19  ...   21    1   11    0   70
10150   3  23  10  10   3   6   9  12   5    5  ...   22   17   25   20   88
12185  22  14  17   5  14   6   0  22  16    7  ...   13   16   23   10   77
12669  23   0   0   9  19  19  18  18  10   18  ...   21   25    7   24   72

       p33  p34  p35  p36  p37
2644    68    1    0    1    0
1246    68    1    0    1    0
9184    67    1    0    1    0
9507    65    1    0    1    0
361     65    1    0    1    0
...    ...  ...  ...  ...  ...
12870   71    5    0   14   24
11230   77   17   14    6   14
10150   64    6   23   15   25
12185   73    5    2    7   10
12669   72    4   19   16    2

[4000 rows x 37 columns]
---- 73 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
59
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5878    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   73
144     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   69
7483    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   74
3028    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   71
6809    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   73
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13064  10   9  18  11  22  17   9  22  13   25  ...    8   11   13    4   71
19094  18   3   4  24   6   9  24   0  25    2  ...   19    0    5   24   85
15709  16   8  18  20   9   7  12  18  15   20  ...    3    3    9    2   78
14848  25  22  20  23   0   6  21   5  11    1  ...   18   13   10    7   81
15750   8  20   6   9   0   6  16  13   1   19  ...   25   10   13   21   76

       p33  p34  p35  p36  p37
5878    66    1    0    1    0
144     66    1    0    1    0
7483    67    1    0    0    1
3028    66    1    0    1    0
6809    68    1    0    1    0
...    ...  ...  ...  ...  ...
13064   86   16    8    9    0
19094   80   13   15   11    3
15709   68   18   12    1    9
14848   80    1    1    3    8
15750   71   23   15   17   14

[4000 rows x 37 columns]
---- 74 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
60
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
9042    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   76
1225    0   0   0   1   0   0   0   0   0    0  ...    1    0    0    1   70
3258    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   72
8884    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   76
366     0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   70
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
14473  18   0   1   5  18  20  14  25  25   13  ...    3    9   11    6   88
17233  15   9   8   7  15  10   4  11   8   24  ...    8    9   11    9   83
12422   6  19  22  23   4  19  18  16  10    9  ...    4   20    1    9   86
16635   2   3   4   6  24   5  15   3  19   25  ...   11   10   18   15   76
16255   8  17   7   4   0  20   3  18   2   18  ...   15   17   25    4   87

       p33  p34  p35  p36  p37
9042    69    1    0    1    0
1225    70    1    0    0    1
3258    67    1    0    1    0
8884    68    1    0    1    0
366     68    1    0    1    0
...    ...  ...  ...  ...  ...
14473   71   24    1   23   20
17233   82    4   15   23    9
12422   68   18    6   13   21
16635   89    7   20    4    2
16255   86    7    8   16   13

[4000 rows x 37 columns]
---- 75 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
60
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8656    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   76
1994    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   71
7644    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   75
7884    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   75
4870    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   73
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
15789   3   4   1   9   1   3  25   9  24   22  ...    7    4   24   17   89
13108   4   7  11  17   3  24  19   3   8   20  ...   20   17    4   23   72
19908   3   9  20  17   1  25   3   8  16    2  ...   13   21    0    9   90
12170  10   7  23  22   1  12  22  13   5    9  ...   17    6   13   15   79
18113  15  18  21   5  25  13  17   9   3    6  ...    9   22   13   25   86

       p33  p34  p35  p36  p37
8656    68    1    0    1    0
1994    68    1    0    1    0
7644    68    1    0    1    0
7884    69    1    0    0    1
4870    68    1    0    1    0
...    ...  ...  ...  ...  ...
15789   89   12   12    1   13
13108   67   11   10   19   16
19908   69    1   21   15   16
12170   86   19    7    8   18
18113   83   23    5   15    7

[4000 rows x 37 columns]
---- 76 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
61
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
2879    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   71
1563    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   71
4140    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   72
4183    0   0   0   0   0   1   0   0   0    0  ...    1    0    0    1   72
1048    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   70
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
11445  17   3  17   0  12   9  20  12   0   11  ...   16   12   11   24   93
16235  25   5  24   2  21  14   7   7  20   12  ...   18    9    0    3   90
13647  22  15  10  24  22   8  17  14   9    3  ...    1   23   22    7   70
19812  20   2  25  15  13  21  18  10  18   25  ...   17   23    4   11   84
12012   3   7   9  14   0   3  13   6  25    4  ...   12    0   18   17   83

       p33  p34  p35  p36  p37
2879    70    1    0    1    0
1563    67    1    0    1    0
4140    70    1    0    1    0
4183    70    1    0    0    1
1048    69    1    0    1    0
...    ...  ...  ...  ...  ...
11445   84   12    8   14    0
16235   84   24   23   24   14
13647   72   13    4    9    6
19812   85    5    3   18    2
12012   80    2   18   15    5

[4000 rows x 37 columns]
---- 77 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
62
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5499    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   74
2609    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   72
4857    0   0   0   0   1   0   0   0   0    0  ...    1    0    0    1   74
9352    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   77
8424    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   77
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19490   9   5  11  23  13  19  19  22   0   10  ...    0    9    6   12   89
18977   0   0  22  15   9  22  18  20   2   15  ...   23    2   13   17   79
11313  14  10  25   3   2  16  16  20  11   18  ...    3   16   23    1   88
11554   4  18  20  11  15  23   1   0  12   11  ...   13    4    7   19   85
11731   3  17   9  18   9  20   7   8  20   10  ...    8   23    4   15   78

       p33  p34  p35  p36  p37
5499    72    1    0    1    0
2609    71    1    0    1    0
4857    70    1    0    0    1
9352    71    1    0    1    0
8424    69    1    0    1    0
...    ...  ...  ...  ...  ...
19490   88   14   11   17   19
18977   90    9    2   11    1
11313   87   18    4    4   15
11554   71   10    2    1   14
11731   69   12    2    3   14

[4000 rows x 37 columns]
---- 78 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
63
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
967     0   0   0   0   0   0   1   0   0    0  ...    0    1    1    0   73
610     0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   73
4726    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   76
412     0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   73
9066    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   79
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13865  10   4   7  19  21  21  14  15  17   17  ...    6    7   20    2   75
10509   1   8  20  20  18  23  24   8   8   14  ...    0    1    0   23   92
13664  24   8  20  13  17  18  20  20  18   12  ...   17   22    6   14   72
11585  25   4   2   4   9   2   3   5  22    4  ...   22   14   21   15   85
19788  15  19   1   0   8  12  17  13  11   12  ...   25    4   11    5   76

       p33  p34  p35  p36  p37
967     71    0    1    1    0
610     70    0    1    1    0
4726    69    1    0    1    0
412     70    1    0    1    0
9066    71    1    0    1    0
...    ...  ...  ...  ...  ...
13865   69    6   16   22    1
10509   88   25   20    3   24
13664   75    4   25    3    2
11585   80   23   14    6    9
19788   78   16   17   17   23

[4000 rows x 37 columns]
---- 79 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
64
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5866    0   0   0   0   1   0   0   0   0    0  ...    1    0    0    1   77
2286    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   74
8512    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   79
3305    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   75
4073    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   75
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
14185   6  12  23  24   8   2  11  20  17   18  ...   15    0    8    9   94
14718  10  11   5  14  13  15   4  17   5    4  ...   17    4    7   19   73
17647  11  15  22   2  10  13   9  18  21    2  ...    7    8   22   20   86
10750   2  22   9   8  22   8  20   6   2   20  ...    9    1    8    7   74
12151  13  17  19   5   0  18  13   8  11   13  ...   14    1   15    6   78

       p33  p34  p35  p36  p37
5866    70    1    0    0    1
2286    72    1    0    1    0
8512    70    1    0    1    0
3305    70    1    0    1    0
4073    73    1    0    1    0
...    ...  ...  ...  ...  ...
14185   70   13   10    9   23
14718   70   23   11   11    0
17647   90    9   19   23   25
10750   80   18   25   20   17
12151   70   24   18   24   18

[4000 rows x 37 columns]
---- 80 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
64
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
9755    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   81
7311    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   79
5685    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   77
3140    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   76
4022    0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   76
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16749   7  18   6   3  11  15   3   6   8   17  ...    2   11   16   21   74
15571  21  24   1  12  18  18   4  17  16    0  ...   10   18    0   16   92
16906   9   0  23   6  11   9  13   6  17    8  ...    6   20   17   15   88
16252   2  19   7   8  12   0  19  20  24   10  ...    3   21   24   13   81
14112   1  23  16  23  20  15  12  16   5    9  ...   10   18   24   21   77

       p33  p34  p35  p36  p37
9755    71    1    0    1    0
7311    71    1    0    1    0
5685    74    1    0    1    0
3140    71    1    0    1    0
4022    73    1    0    1    0
...    ...  ...  ...  ...  ...
16749   94    9    5   19   24
15571   70    7    9   16    7
16906   87    2    1   10    3
16252   81   21    4   18    5
14112   81   24   17    1   10

[4000 rows x 37 columns]
---- 81 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
65
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6117    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   79
2448    0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   76
726     0   1   0   0   0   0   0   0   0    1  ...    1    0    1    0   75
7125    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   80
5461    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   78
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
15216  19  21   1  22   1  21  12  16  15   24  ...    8   17   19   16   81
10883  18  11  16   0   9  19  25  18   6   19  ...    3    9   18    0   77
19863  16   7  15  15  22  15   9  14  21    8  ...    0    8   23   24   90
12205  15  10   0  24  25  25  23  21  15    1  ...   22    9   22    6   78
11348  21  24  25   7  20   3  12  16   5    1  ...   25   25   14   22   89

       p33  p34  p35  p36  p37
6117    73    1    0    1    0
2448    74    1    0    1    0
726     73    1    0    1    0
7125    72    1    0    1    0
5461    74    1    0    1    0
...    ...  ...  ...  ...  ...
15216   73   24   21   19    5
10883   89   18   18    2   17
19863   81    0   22   25   13
12205   77   14   21    2    5
11348   87   19   18   14    8

[4000 rows x 37 columns]
---- 82 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
66
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
9724    1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   83
1050    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   76
7831    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   81
856     0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   76
356     0   1   0   0   0   0   0   0   0    1  ...    1    0    1    0   76
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10328   5  13  19  10  12  22  19  12   8   12  ...    8    6    2   18   83
19423   3  13   9  15  17   5  25  24  23   21  ...   14   13   14   17   97
11180  19  14  11   0   2   7  14  16  22    9  ...    7    5   25   21   91
11296   1  12   2  18   2   4  12   4  17    3  ...   10    1    3   22   82
12250  24  17   1  14   6   3  17   4  14    5  ...    3   12   10   16   90

       p33  p34  p35  p36  p37
9724    73    1    0    1    0
1050    75    1    0    1    0
7831    75    1    0    1    0
856     75    1    0    1    0
356     73    1    0    1    0
...    ...  ...  ...  ...  ...
10328   77    5   25   21   11
19423   72   17   25   14    6
11180   75    0    6   23   11
11296   73   22   20    2    0
12250   72   13    8   20   15

[4000 rows x 37 columns]
---- 83 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
67
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
1793    0   0   0   0   0   0   1   0   0    1  ...    0    1    1    0   78
6130    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   81
7452    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   82
5684    0   0   0   0   1   0   0   0   1    0  ...    1    0    1    0   80
5546    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   80
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19737  25  22  17  21  22  17  14  10  15   25  ...    9   16   24   20   85
14672   5   2  18  19   2  19  25  12  17   25  ...   20    5   13    8   86
13889  11  22   7   3  18  25   4  23   7    8  ...    5   14    8   20   84
15727  21  18   4  21  11  24   9   3  17   14  ...   15   11   19   18   79
15881   1  20   7   5   0  15  22  23   3   25  ...   21   21    4   18   97

       p33  p34  p35  p36  p37
1793    73    0    1    1    0
6130    74    1    0    1    0
7452    74    1    0    1    0
5684    76    1    0    1    0
5546    76    1    0    1    0
...    ...  ...  ...  ...  ...
19737   72   25    1   19   15
14672   90    2   11    2    6
13889   91    6   15    7    1
15727   90   15    7   21   17
15881   95   18   25   19   24

[4000 rows x 37 columns]
---- 84 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
68
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
727     1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   77
8646    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   83
9575    0   0   0   0   1   0   0   0   1    0  ...    1    0    1    0   84
3485    0   0   0   0   1   0   0   0   0    1  ...    1    0    1    0   79
936     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   77
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
17645   1   1  14   3  12  19  13   3  10    0  ...    3    4   18    6   79
13350  18  12   7  11  20   1  24  21   9    8  ...    9   24   20   19   90
17447  11   4   9   9   2   1  22   6   6   25  ...    6    9   25    2   96
15666  21  11   6  22   7  10  15  16   2   25  ...    7    5   23    6   96
19678   4   3  17  16  11  23   5  12  10   15  ...    0    2   17   15   85

       p33  p34  p35  p36  p37
727     76    1    0    1    0
8646    76    1    0    1    0
9575    75    1    0    1    0
3485    76    1    0    1    0
936     77    1    0    1    0
...    ...  ...  ...  ...  ...
17645   84   22    9   24    8
13350   83   19    4    0    9
17447   93   16   10   21    5
15666   81   25    2    3   15
19678   74   21    1   12    2

[4000 rows x 37 columns]
---- 85 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
68
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5207    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   81
1915    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   79
4617    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   81
2179    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   79
8251    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   83
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
14058  24   4   0  20   7   3  25  14   3   23  ...    5    4   23    8  100
12765  13  18   8  18  12  11   7   8   9   14  ...    9   15   22   12   88
10759  22   1  21  20   2  25  15   8  20    4  ...   13   10   24    6   93
16211  12  24  13   6  11  24  19  10  13    3  ...   16    5    0    2   78
16117  25  17  22  19  19  20  24   6  17    7  ...    3   22    5    0  102

       p33  p34  p35  p36  p37
5207    77    1    0    0    1
1915    76    1    0    1    0
4617    75    0    1    1    0
2179    76    1    0    1    0
8251    78    1    0    1    0
...    ...  ...  ...  ...  ...
14058   81   21    4   13   14
12765   87   12   22    0   21
10759   81    9    3    6   12
16211   92    7    7   12   19
16117   75    5   15   18    3

[4000 rows x 37 columns]
---- 86 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
69
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
6437    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   83
5005    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   82
2186    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   80
786     0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   79
4304    0   0   0   0   0   0   1   0   1    0  ...    0    1    1    0   81
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
14492  24   7  15  15  25   2  13   3  14   20  ...   13   21    5   15  103
13661  22  12  17  20  24   0  25  21  14   23  ...   10    7    2   11   80
15778  21  18   5  15   6  14  16  12  23    2  ...   23    6   14    5   90
13234   5  21  13  11  15   3  20  12   2   24  ...   13   19   22    3   88
12186   1   8   8   9  20   0  17  15  16   13  ...    7    8   15    3   88

       p33  p34  p35  p36  p37
6437    77    1    0    1    0
5005    77    1    0    1    0
2186    77    1    0    1    0
786     78    1    0    1    0
4304    79    0    1    1    0
...    ...  ...  ...  ...  ...
14492   99    7   23   23   25
13661   92    6    2   20   25
15778   83    7   14   18   24
13234   88   20   24   15    8
12186   77   24    9    6   17

[4000 rows x 37 columns]
---- 87 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
70
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5741    0   0   0   0   0   0   1   0   1    0  ...    1    0    1    0   83
4833    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   83
2293    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   81
7234    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   85
5788    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   83
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13318   3  15   2  23  22  10   6  14  13    5  ...   11    0    0   23   94
11954   6   4  14   5  16  24  11  24   2    7  ...   10   17    4   18   84
11786  23  22  17  19  11  22  10  17   1    0  ...    8   16    9    1   95
17958   1  16  20  15   7  12   0  24  22   11  ...   10   25   25   19  100
14033  15  22  20  24  16  25  11   6  14   10  ...   16    2    8   16  104

       p33  p34  p35  p36  p37
5741    80    0    1    1    0
4833    78    1    0    1    0
2293    79    1    0    1    0
7234    77    1    0    1    0
5788    80    1    0    1    0
...    ...  ...  ...  ...  ...
13318   93   19    6   18    1
11954   82   22   13   14    2
11786   86   12   24    5    5
17958   83    0    4   23   16
14033   92   17    9    9    8

[4000 rows x 37 columns]
---- 88 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
71
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5770    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   83
9674    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   87
6396    0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   84
2926    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   81
8566    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   86
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19123   0  12  14  16  14  18   8  20   6   19  ...   15   17    4   16   96
13838  21   6  13  15  21  25  10  18   6    1  ...   25    2   19   21   95
14329   4  23   9  15   3   3  24  11   4   15  ...    8   20   20    6   93
14893  11  21  11   2   3   2   9  25  16   10  ...   21   18   11   25   89
15119   7   7  11  11  12  21  19   6   9   12  ...   10    7   24   21   91

       p33  p34  p35  p36  p37
5770    81    1    0    1    0
9674    78    1    0    1    0
6396    79    1    0    1    0
2926    81    1    0    1    0
8566    78    1    0    1    0
...    ...  ...  ...  ...  ...
19123   89   22   19   19    0
13838   88   25   17    7    4
14329   89   12   22    5   14
14893   90   12    8   21    7
15119   88    5    1    2    7

[4000 rows x 37 columns]
---- 89 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
72
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
8596    1   0   0   0   0   0   0   0   0    1  ...    1    0    1    0   87
9511    0   0   0   0   0   1   0   0   0    0  ...    1    0    0    1   88
5131    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   84
4701    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   84
1408    0   0   0   0   0   0   0   1   0    1  ...    1    0    1    0   81
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
13665  23   1   6   6  25  12  19  20  19   16  ...   11   17   18    2   91
10320  23  13  16   6   4  12  20  19  14    4  ...    3   12    4   23   98
12095  22   2   1   5  25   5   4  24  12    6  ...   14    1    9   12   93
15657  11  25  11  15  21  18   4  16   6   25  ...   16   12   21   18   99
14248  20  14  14  14  24   7  19  20   0   11  ...   12    4   12   13   90

       p33  p34  p35  p36  p37
8596    79    1    0    1    0
9511    79    1    0    0    1
5131    81    1    0    1    0
4701    79    1    0    1    0
1408    82    1    0    1    0
...    ...  ...  ...  ...  ...
13665   98    5   12    8    8
10320  100   25   10    0    3
12095  101   19   25    2    6
15657   97   15   11   22   22
14248   89   10    1   13   19

[4000 rows x 37 columns]
---- 90 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
72
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
1637    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   83
6297    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   86
8010    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   87
8181    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   87
5364    0   0   0   0   0   0   1   0   0    1  ...    0    1    1    0   85
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
15811  13  25  20  14   7  13  22   6  12   23  ...    5   14   24   11   98
10360  12  11   3  17   8  20   1   3  18   19  ...   22   16   25    7   83
14117   6  24  14  14   5   7  22   3   0   20  ...   21    3    7   24   95
17040  19   9  11  18   9   6  13  23   6   23  ...    5    8   13    2   81
11633  14  17  25   2   0   3  15  21   1    2  ...    7   17    9    8   96

       p33  p34  p35  p36  p37
1637    79    1    0    1    0
6297    80    1    0    1    0
8010    81    0    1    1    0
8181    82    1    0    1    0
5364    81    0    1    1    0
...    ...  ...  ...  ...  ...
15811   86   17    0   18    6
10360   79   23    6    2    4
14117   91    5    3    3    5
17040   82    5    0   11   23
11633   88   25   19   10    0

[4000 rows x 37 columns]
---- 91 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
73
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
4728    0   1   0   0   0   0   0   0   1    0  ...    1    0    1    0   86
9362    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   89
7062    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   87
1876    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   84
673     0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   83
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
16996  14   7  25   1  18   2   2  17   9    2  ...    2    2   21   21  100
18002  23  22  15   8   8  12  14   9   2   18  ...   25    3    8   16   87
17491  10  16  17   0  24   4  16  20  17   23  ...   14   10   25   18   92
15332  17   6  25   4  21  14  15  14  11    4  ...   24    6    0   14   92
19873   9  23  10  14  18   2  15   1  21   23  ...   11   20    0   13  105

       p33  p34  p35  p36  p37
4728    79    1    0    1    0
9362    82    1    0    1    0
7062    82    0    1    1    0
1876    80    1    0    1    0
673     80    1    0    1    0
...    ...  ...  ...  ...  ...
16996   79   19   24   19   16
18002  100    1   13   20   12
17491   84    2   12   22   18
15332   83    0   21    4   21
19873   78    8    8   21    9

[4000 rows x 37 columns]
---- 92 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
74
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
2390    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   84
795     0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   83
245     0   0   0   0   0   0   1   0   0    1  ...    0    1    1    0   83
2298    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   84
9560    0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   90
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
18894  19   2   6  23  16   8  13   1   1    2  ...   15    0   20   12   94
17006  14  16  20  17   4   8  19  10   9    8  ...    0   10    3   17   84
13755   2  14  24   7   1   4   9  15  20   13  ...   21    0   17    5   82
17692   0  24   7   8  14  19  11  10   6   21  ...   12   21    0   10   98
18693  23  22   5  23   7  16  23   9  11   23  ...   13    7   19    9  105

       p33  p34  p35  p36  p37
2390    82    1    0    1    0
795     82    1    0    1    0
245     80    0    1    1    0
2298    82    1    0    1    0
9560    80    1    0    1    0
...    ...  ...  ...  ...  ...
18894  102   25   22   22   23
17006   96    8   14   17   11
13755  101   17    4    2   16
17692   84   18    0   12   19
18693   88   20   18    1   12

[4000 rows x 37 columns]
---- 93 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
75
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
5988    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   89
6875    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   89
3459    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   87
5423    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   88
3081    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   87
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
11000  25   1  10  18   1   8   6   3   6   15  ...   14    4    3    1   90
10260   4   7  20  10   7  13   0  16   3    2  ...    0    7   22    6   86
11961  12   8  11   0  20  23   9  22   4   11  ...   20   10   19    4   96
12790  12  23  16  12  21  25   4  11   1   24  ...   10   22   16   15  101
17194   1   8  18  25  11  18   7  14  22    1  ...   16   25   18    1   89

       p33  p34  p35  p36  p37
5988    82    1    0    1    0
6875    85    1    0    1    0
3459    83    1    0    1    0
5423    84    1    0    1    0
3081    82    1    0    0    1
...    ...  ...  ...  ...  ...
11000  106    4    5   16   10
10260  105   12   14   22   12
11961  105   18   10   17   13
12790   84   14   21   12   21
17194  102    3   18   18    5

[4000 rows x 37 columns]
---- 94 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
76
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
9046    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   92
5380    0   0   0   0   0   0   0   1   1    0  ...    1    0    1    0   89
4227    0   0   0   1   0   0   0   0   0    1  ...    1    0    1    0   88
9849    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   93
8123    0   1   0   0   0   0   0   0   0    1  ...    1    0    1    0   91
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
14085  22   4   2   7  13  11  21   1  25   11  ...    0   11   15   13   86
14107  18   8  19  24   6  12   7   1   4    3  ...   19   15    3   18   95
17818  13   4   7  14  11   4  11   8  10   15  ...   19   18    4   24  103
12799   0  14  21   0   7   9  19  12   7   19  ...    4   11   22    2  100
17995  21   2   2   4  23  25  20   7  20    4  ...    4   13   20   22   98

       p33  p34  p35  p36  p37
9046    85    1    0    0    1
5380    85    1    0    1    0
4227    86    1    0    1    0
9849    84    1    0    1    0
8123    85    1    0    1    0
...    ...  ...  ...  ...  ...
14085   95    9    4    5    7
14107   84   14   21   17    6
17818   99   22    8   24    2
12799   85   25    1    6   22
17995   93    2   10   20   14

[4000 rows x 37 columns]
---- 95 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
76
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
4416    0   1   0   0   0   0   0   0   0    1  ...    1    0    1    0   88
6853    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   90
5490    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   89
3666    1   0   0   0   0   0   0   0   1    0  ...    1    0    1    0   88
4645    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   89
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
19536  18   9  21  16  13  15  18  14  13    3  ...   24    0   25   11  101
12083  21  25  22  11  23  21   9   3  12   15  ...    2    6   16   16  101
17809  13  19   6   9  15  14  22   8  11   13  ...    1    8   13    6  109
19925   7  16  17   2   9  23   8  25  16   11  ...    7   22   17    6  105
16366  13   0   9   4   5  14  12   1  20    7  ...   21    3   10   25   91

       p33  p34  p35  p36  p37
4416    86    1    0    1    0
6853    86    1    0    1    0
5490    86    1    0    1    0
3666    84    1    0    1    0
4645    83    1    0    1    0
...    ...  ...  ...  ...  ...
19536   90   12    7   24   11
12083  100   10   14   22    9
17809   89   19   24   18    9
19925   91   19   19   21    5
16366  102   12    3    2    3

[4000 rows x 37 columns]
---- 96 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
77
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
9608    0   0   0   0   0   1   0   0   1    0  ...    1    0    1    0   94
3360    0   0   0   1   0   0   0   0   0    0  ...    1    0    1    0   89
337     0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   87
8274    0   0   0   0   0   1   0   0   0    0  ...    1    0    0    1   92
1397    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   87
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
10749  17  10  15  20  13  14  25  17  25    3  ...   13   15    9   14   89
12880  24   5   5  13  22  10   9  17  17   20  ...   18    4    9    1   89
11866   7  23  21   2   3  16   3  18  20   23  ...   25    5   24    4  110
13483  25   4  20   8  16   6  11   9  17   22  ...   15    1   22   11   94
11267  23  14  21   5   7   4  13  15  25   10  ...    9    1    3   10   88

       p33  p34  p35  p36  p37
9608    84    1    0    1    0
3360    85    1    0    1    0
337     84    1    0    1    0
8274    87    1    0    0    1
1397    87    1    0    1    0
...    ...  ...  ...  ...  ...
10749   85   12   22   17   12
12880  102    5   16   19   17
11866   84   11   12    1   11
13483   93    0    7   12   20
11267  102   19    3   14    2

[4000 rows x 37 columns]
---- 97 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
78
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
4201    0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   89
2860    0   0   0   0   0   1   0   0   0    1  ...    1    0    1    0   88
8490    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    0   93
6787    0   1   0   0   0   0   0   0   0    0  ...    1    0    1    0   91
8066    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   92
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
15061  13  15  11   3  17   8  10  12  12   23  ...   17    0   25   10   95
14637   3   4  20   4   3  24  11   4  24   13  ...    4    8   22    0  102
10883  18  11  16   0   9  19  25  18   6   19  ...    3    9   18    0   89
19165  14   0   6   8   6  19  22  11  20   23  ...    9   21    7    8  102
13952   7  17   7  11   8  14   0  16  23    9  ...    9   14   15   12  107

       p33  p34  p35  p36  p37
4201    88    1    0    1    0
2860    88    1    0    1    0
8490    85    0    1    1    0
6787    87    1    0    1    0
8066    87    1    0    1    0
...    ...  ...  ...  ...  ...
15061  102   13   19    7   10
14637  109    8   23   19    4
10883  102   18   18    2   17
19165   89    8   14    5   25
13952   92   25    6    0    7

[4000 rows x 37 columns]
---- 98 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
79
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
7610    0   0   0   1   0   0   0   0   1    0  ...    1    0    1    0   94
6774    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   93
4061    0   0   1   0   0   0   0   0   0    0  ...    1    0    1    0   91
6740    0   0   0   0   0   0   1   0   0    1  ...    1    0    1    0   93
4018    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   91
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
17341  20  21  22  13   0   7  18  20   1   11  ...    5   13    2   25  111
17185  17  21   2  21   7  16   9  12  14   12  ...   23   13   17   11  107
11578   4  18   4   6  23   7   6  19   7    6  ...    1   11   10    4  111
17027   4  18  10   0  18  24  21   2   1    3  ...   12    9   18    2  111
19547  16   1  20   6   3   5   5   8   8   21  ...   24   23    3   11   93

       p33  p34  p35  p36  p37
7610    87    1    0    1    0
6774    88    1    0    1    0
4061    89    1    0    1    0
6740    88    0    1    1    0
4018    88    1    0    1    0
...    ...  ...  ...  ...  ...
17341  103   25   18   21   12
17185   98   15    1   14   10
11578   99   24   10    8    8
17027   94   11   19   20   25
19547  108   19    7   22   13

[4000 rows x 37 columns]
---- 99 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
80
======
       p1  p2  p3  p4  p5  p6  p7  p8  p9  p10  ...  p28  p29  p30  p31  p32  \
9544    0   0   0   0   0   1   0   0   0    0  ...    1    0    1    0   96
8041    0   0   0   0   0   0   0   1   0    0  ...    1    0    1    0   94
3759    0   0   0   0   1   0   0   0   0    0  ...    1    0    1    0   91
3648    1   0   0   0   0   0   0   0   0    0  ...    1    0    1    0   91
172     0   0   0   0   1   0   0   0   1    0  ...    1    0    1    0   89
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
12244  23   9  20  10  19   9   2  24   6   11  ...   15   20    5   23  100
11696   9  17  11  23  25   5  14  10   0   17  ...   13   14    9   22   88
11569   0  21  13   1   1  25  18  16  24   24  ...   24   19   16   18   97
13649  16  21   9  20  12  10  23   7   6   11  ...   24    7    2   22   99
11256  16  19   9   6  15  21   1  25  12    1  ...    4   10   24   21  111

       p33  p34  p35  p36  p37
9544    87    1    0    1    0
8041    89    1    0    1    0
3759    89    1    0    1    0
3648    88    1    0    1    0
172     87    1    0    1    0
...    ...  ...  ...  ...  ...
12244   95   24   25   16    3
11696  105   13   23    7   12
11569   89   21   25   10   13
13649  100    4    1   24   24
11256   90    8    1   19    8

[4000 rows x 37 columns]
---- 100 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0