In [1]:
import time
import sklearn
import numpy as np
import pandas as pd

import sys
sys.path.append("..")
from baggingPU import BaggingClassifierPU

from sklearn.utils import resample
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import random

In [2]:
def print_cm(cm, labels, hide_zeroes=False, hide_diagonal=False, hide_threshold=None):
    columnwidth = max([len(x) for x in labels]) + 4
    empty_cell = " " * columnwidth
    print("    " + empty_cell, end=' ')
    for label in labels:
        print("%{0}s".format(columnwidth) % 'pred_' + label, end=" ")
    print()

    for i, label1 in enumerate(labels):
        print("    %{0}s".format(columnwidth) % 'true_' + label1, end=" ")
        for j in range(len(labels)):
            cell = "%{0}.1f".format(columnwidth) % cm[i, j]
            if hide_zeroes:
                cell = cell if float(cm[i, j]) != 0 else empty_cell
            if hide_diagonal:
                cell = cell if i != j else empty_cell
            if hide_threshold:
                cell = cell if cm[i, j] > hide_threshold else empty_cell
            if cell:
                print(cell, end=" ")
        print()

# import data

In [3]:
#df_raw = pd.read_csv('../data/w-dependence.csv')

df_raw = pd.read_csv('../data/1place-independence.csv')

#df_raw = pd.read_csv('../data/w-related.csv')


df_raw['label'] = df_raw['label'].astype("int")
print(df_raw.label.value_counts())
print('Has null values', df_raw.isnull().values.any())

1    10000
0    10000
Name: label, dtype: int64
Has null values False

In [4]:
df_raw.head(10)

   p1  p2  p3  p4  label
0   1   0   0   0      1
1   0   1   1   0      1
2   1   0   1   0      1
3   0   0   0   1      1
4   0   1   2   0      1
5   1   0   2   0      1
6   0   0   1   1      1
7   0   1   3   0      1
8   1   0   3   0      1
9   0   0   2   1      1

In [5]:
print(df_raw.iloc[:10000,:])
df_max = np.amax(df_raw.iloc[:10000,[2]])
print(df_max)

      p1  p2    p3  p4  label
0      1   0     0   0      1
1      0   1     1   0      1
2      1   0     1   0      1
3      0   0     0   1      1
4      0   1     2   0      1
...   ..  ..   ...  ..    ...
9995   1   0  3332   0      1
9996   0   0  3331   1      1
9997   0   1  3333   0      1
9998   1   0  3333   0      1
9999   0   0  3332   1      1

[10000 rows x 5 columns]
p3    3333
dtype: int64

In [6]:
print(df_raw.iloc[10000:,:])
print(np.amax(df_raw.iloc[10000:,[2]]))

         p1    p2    p3    p4  label
10000     0     0     0     0      0
10001     0     0     1     0      0
10002     0     1     0     0      0
10003     0     1     0     1      0
10004     0     1     1     1      0
...     ...   ...   ...   ...    ...
19995  1948  3267  3248    22      0
19996   678  2207  1707  1330      0
19997   796  3271  1813  1477      0
19998  2163   614  2392  2879      0
19999  1420  2443  2561  1150      0

[10000 rows x 5 columns]
p3    3333
dtype: int64

In [7]:
neg_process = df_raw.iloc[10000:,:].copy()
print(neg_process)

for i in range(10000):
    if neg_process.iloc[i,2] > df_max[0]:
        neg_process.iloc[i,2]  = int(neg_process.iloc[i,2] / df_max[0])

         p1    p2    p3    p4  label
10000     0     0     0     0      0
10001     0     0     1     0      0
10002     0     1     0     0      0
10003     0     1     0     1      0
10004     0     1     1     1      0
...     ...   ...   ...   ...    ...
19995  1948  3267  3248    22      0
19996   678  2207  1707  1330      0
19997   796  3271  1813  1477      0
19998  2163   614  2392  2879      0
19999  1420  2443  2561  1150      0

[10000 rows x 5 columns]

In [8]:
neg_process.drop_duplicates(inplace=True)
print(neg_process)
print(len(neg_process))
print(np.amax(neg_process))

         p1    p2    p3    p4  label
10000     0     0     0     0      0
10001     0     0     1     0      0
10002     0     1     0     0      0
10003     0     1     0     1      0
10004     0     1     1     1      0
...     ...   ...   ...   ...    ...
19995  1948  3267  3248    22      0
19996   678  2207  1707  1330      0
19997   796  3271  1813  1477      0
19998  2163   614  2392  2879      0
19999  1420  2443  2561  1150      0

[10000 rows x 5 columns]
10000
p1       3333
p2       3332
p3       3333
p4       3333
label       0
dtype: int64

In [9]:
df_process = pd.concat([df_raw.iloc[:10000,:], neg_process])
print(df_process)

         p1    p2    p3    p4  label
0         1     0     0     0      1
1         0     1     1     0      1
2         1     0     1     0      1
3         0     0     0     1      1
4         0     1     2     0      1
...     ...   ...   ...   ...    ...
19995  1948  3267  3248    22      0
19996   678  2207  1707  1330      0
19997   796  3271  1813  1477      0
19998  2163   614  2392  2879      0
19999  1420  2443  2561  1150      0

[20000 rows x 5 columns]

In [10]:
x_data = df_process.iloc[:,:-1]
y_data = df_process.iloc[:,-1]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=7)

In [11]:
x_train_input = pd.concat([x_train.iloc[:,:], y_train],axis=1)
x_test_input = pd.concat([x_test.iloc[:,:],y_test],axis=1)

print(len(x_train_input))
print(len(x_test_input))

print(x_train_input.label.value_counts())
print('Has null values', x_train_input.isnull().values.any())

print(x_test_input.label.value_counts())
print('Has null values', x_test_input.isnull().values.any())

16000
4000
1    8077
0    7923
Name: label, dtype: int64
Has null values False
0    2077
1    1923
Name: label, dtype: int64
Has null values False

In [12]:
x_train_input.head(10)

         p1    p2    p3    p4  label
8118      0     0  2705     1      1
10171     0     0  2141     0      0
9399      0     0  3132     1      1
12669     1     1  2336     0      0
18809  1457  3115   942  1111      0
13869     0     0  1609     0      0
3320      1     0  1107     0      1
14689     1     1  1319     0      0
13087     1     1  2692     1      0
15992   515   833  2507  1884      0

In [13]:
x_test_input.head(10)

         p1    p2    p3    p4  label
14356     1     1  3189     1      0
3439      0     1  1147     0      1
12153     1     0  2606     1      0
15029  2966  1336   754  1574      0
18549  3088  1378  1096  3034      0
15762   622   795   773  1953      0
12313     0     1  1788     1      0
16034   704  1577   717  2627      0
11496     1     0  1418     1      0
5653      0     1  1885     0      1

In [14]:
df = x_train_input.copy()

NON_LBL = [c for c in df.columns if c != 'label']
X = df[NON_LBL]
y = df['label']

y_orig = y.copy()

hidden_size = 5000
y.loc[
    np.random.choice(
        y[y == 1].index, 
        replace = False, 
        size = hidden_size
    )
] = 0

print(X)
print(y)

         p1    p2    p3    p4
8118      0     0  2705     1
10171     0     0  2141     0
9399      0     0  3132     1
12669     1     1  2336     0
18809  1457  3115   942  1111
...     ...   ...   ...   ...
13927     1     1  1066     0
919       0     1   307     0
5699      1     0  1900     0
10742     0     1  2930     1
16921  2113   604  1171  1381

[16000 rows x 4 columns]
8118     1
10171    0
9399     1
12669    0
18809    0
        ..
13927    0
919      0
5699     1
10742    0
16921    0
Name: label, Length: 16000, dtype: int64

In [15]:
pd.Series(y).value_counts()

0    12923
1     3077
Name: label, dtype: int64

In [16]:
print('- %d samples and %d features' % (X.shape))
print('- %d positive out of %d total before hiding labels' % (sum(df_process.label), len(df_process.label)))
print('- %d positive out of %d total after hiding labels' % (sum(y), len(y)))

- 16000 samples and 4 features
- 10000 positive out of 20000 total before hiding labels
- 3077 positive out of 16000 total after hiding labels

# Trainning directly

In [17]:
print('Training XGboost model ...')

import xgboost as xgb

model = xgb.XGBClassifier()

#from sklearn.linear_model import LogisticRegression
#model = LogisticRegression()


#from sklearn.neural_network import MLPClassifier
#model = MLPClassifier(solver='adam', alpha=1e-5,hidden_layer_sizes=(1), random_state=1,max_iter=100000)

model.fit(X, y)

print('Done')

Training XGboost model ...
Done

In [18]:
print('---- {} ----'.format('XGboost model'))
print(print_cm(sklearn.metrics.confusion_matrix(y_test, model.predict(x_test_input.iloc[:,:-1])), labels=['negative', 'positive']))
print('')
print('Precision: ', precision_score(y_test, model.predict(x_test_input.iloc[:,:-1])))
print('Recall: ', recall_score(y_test, model.predict(x_test_input.iloc[:,:-1])))
print('Accuracy: ', accuracy_score(y_test, model.predict(x_test_input.iloc[:,:-1])))
print('f1_score: ', f1_score(y_test, model.predict(x_test_input.iloc[:,:-1])))

---- XGboost model ----
                        pred_negative        pred_positive
           true_negative       2077.0          0.0
           true_positive       1716.0        207.0
None

Precision:  1.0
Recall:  0.10764430577223089
Accuracy:  0.571
f1_score:  0.19436619718309858

# Training by bagging

In [19]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()

from sklearn.tree import DecisionTreeClassifier
model2 = DecisionTreeClassifier()

from sklearn.neural_network import MLPClassifier
model3 = MLPClassifier(solver='adam', alpha=1e-5,hidden_layer_sizes=(1), random_state=1,max_iter=100000)

from sklearn import svm
model4 = svm.LinearSVC()

from sklearn.naive_bayes import MultinomialNB
model5 = MultinomialNB()

from sklearn.ensemble import RandomForestClassifier
model6 = RandomForestClassifier(n_estimators = 50,n_jobs = -1)

import xgboost as xgb
model7 = xgb.XGBClassifier()

In [20]:
model_list = [model1, model2, model3, model4, model5, model6, model7]
f1 = np.zeros([len(model_list)],dtype=np.float32)

In [21]:
for i,j in zip(model_list,range(len(model_list))):
    model = BaggingClassifierPU(i,
                         n_estimators = 50, 
                         n_jobs = -1, 
                         max_samples = sum(y)  
                        )
    model.fit(X,y)
    print(f1_score(y_orig, model.predict(X)))
    f1[j] = f1_score(y_orig, model.predict(X))

print(f1)

0.9542205682556559
0.8773440755660509
0.8045622073911743
0.8819129770158869
0.8039548586837113
0.9328929986789961
0.994773519163763
[0.9542206  0.8773441  0.8045622  0.881913   0.80395484 0.932893
 0.9947735 ]

In [22]:
f1_index = []
for i in range(len(f1)):
    if f1[i] >= 0.95:
        f1_index.append(i)
        
print(f1_index)
        
predict_sum = np.zeros([len(X)],dtype=np.float32)
for i in f1_index:
    model = BaggingClassifierPU(model_list[i],
                         n_estimators = 50, 
                         n_jobs = -1, 
                         max_samples = sum(y)  
                        )
    model.fit(X,y)
    predict_sum += model.predict(X)
print(predict_sum)

[0, 6]
[2. 1. 2. ... 2. 0. 0.]

In [23]:
threshold = len(f1_index) / 2
print(predict_sum)

predict = np.zeros([len(y)],dtype=np.int64)

for i in range(len(X)):
    if predict_sum[i] >= threshold :
        predict[i] = 1
    if predict_sum[i] < threshold :
        predict[i] = 0


print(predict)
print(y_orig)

[2. 1. 2. ... 2. 0. 0.]
[1 1 1 ... 1 0 0]
8118     1
10171    0
9399     1
12669    0
18809    0
        ..
13927    0
919      1
5699     1
10742    0
16921    0
Name: label, Length: 16000, dtype: int64

In [24]:
#train data
print('---- {} ----'.format('PU Bagging'))
print(print_cm(sklearn.metrics.confusion_matrix(y_orig,predict), labels=['negative', 'positive']))
print('')
print('Precision: ', precision_score(y_orig, predict))
print('Recall: ', recall_score(y_orig,predict))
print('Accuracy: ', accuracy_score(y_orig, predict))
print('f1_score: ', f1_score(y_orig, predict))

---- PU Bagging ----
                        pred_negative        pred_positive
           true_negative       7148.0        775.0
           true_positive          0.0       8077.0
None

Precision:  0.9124491640307275
Recall:  1.0
Accuracy:  0.9515625
f1_score:  0.9542205682556559

In [25]:
best_model = BaggingClassifierPU(model_list[np.argmax(f1)],
                         n_estimators = 50, 
                         n_jobs = -1, 
                         max_samples = sum(y)  
                        )
print(best_model)

BaggingClassifierPU(base_estimator=XGBClassifier(base_score=None, booster=None,
                                                 colsample_bylevel=None,
                                                 colsample_bynode=None,
                                                 colsample_bytree=None,
                                                 gamma=None, gpu_id=None,
                                                 importance_type='gain',
                                                 interaction_constraints=None,
                                                 learning_rate=None,
                                                 max_delta_step=None,
                                                 max_depth=None,
                                                 min_child_weight=None,
                                                 missing=nan,
                                                 monotone_constraints=None,
                                                 n_estimators=100, n_jobs=None,
                                                 num_parallel_tree=None,
                                                 random_state=None,
                                                 reg_alpha=None,
                                                 reg_lambda=None,
                                                 scale_pos_weight=None,
                                                 subsample=None,
                                                 tree_method=None,
                                                 validate_parameters=None,
                                                 verbosity=None),
                    max_samples=3077, n_estimators=50, n_jobs=-1)

In [26]:
print('Training bagging classifier...')

pu_start = time.perf_counter()

best_model.fit(X, y)
pu_end = time.perf_counter()
print('Done!')
print('Time:', pu_end - pu_start)

Training bagging classifier...
Done!
Time: 4.289725057024043

In [27]:
#train data
print('---- {} ----'.format('PU Bagging'))
print(print_cm(sklearn.metrics.confusion_matrix(y_orig, best_model.predict(X)), labels=['negative', 'positive']))
print('')
print('Precision: ', precision_score(y_orig, best_model.predict(X)))
print('Recall: ', recall_score(y_orig, best_model.predict(X)))
print('Accuracy: ', accuracy_score(y_orig, best_model.predict(X)))
print('f1_score: ', f1_score(y_orig, best_model.predict(X)))

---- PU Bagging ----
                        pred_negative        pred_positive
           true_negative       7922.0          1.0
           true_positive         83.0       7994.0
None

Precision:  0.9998749218261413
Recall:  0.9897239073913582
Accuracy:  0.99475
f1_score:  0.994773519163763

In [28]:
#print wrong predictions
y_pre = best_model.predict(X)
y_orig_index = y_orig.index.tolist()

FN_index = []
FT_index = []

for i in range(len(y_orig)):
    if y_orig.iloc[i] == 1 and y_pre[i] == 0 :
        FN_index.append(y_orig_index[i])
    if y_orig.iloc[i] == 0 and y_pre[i] == 1 :
        FT_index.append(y_orig_index[i])
        
print("False Negtive:")
print(df_process.loc[FN_index])
print("False Positive:")
print(df_process.loc[FT_index])

False Negtive:
      p1  p2    p3  p4  label
917    1   0   306   0      1
894    0   0   297   1      1
9972   0   0  3323   1      1
875    1   0   292   0      1
116    1   0    39   0      1
...   ..  ..   ...  ..    ...
888    0   0   295   1      1
7846   0   1  2616   0      1
7843   0   1  2615   0      1
7854   0   0  2617   1      1
919    0   1   307   0      1

[83 rows x 5 columns]
False Positive:
       p1  p2  p3  p4  label
10002   0   1   0   0      0

In [29]:
#test data
print('---- {} ----'.format('PU Bagging'))
print(print_cm(sklearn.metrics.confusion_matrix(y_test, best_model.predict(x_test_input.iloc[:,:-1])), labels=['negative', 'positive']))
print('')
print('Precision: ', precision_score(y_test, best_model.predict(x_test_input.iloc[:,:-1])))
print('Recall: ', recall_score(y_test, best_model.predict(x_test_input.iloc[:,:-1])))
print('Accuracy: ', accuracy_score(y_test, best_model.predict(x_test_input.iloc[:,:-1])))
print('f1_score: ', f1_score(y_test, best_model.predict(x_test_input.iloc[:,:-1])))

---- PU Bagging ----
                        pred_negative        pred_positive
           true_negative       2077.0          0.0
           true_positive         26.0       1897.0
None

Precision:  1.0
Recall:  0.9864794591783671
Accuracy:  0.9935
f1_score:  0.993193717277487

In [30]:
#print wrong predictions
y_test_pre = best_model.predict(x_test_input.iloc[:,:-1])
y_test_index = y_test.index.tolist()

FN_test_index = []
FT_test_index = []

for i in range(len(y_test)):
    if y_test.iloc[i] == 1 and y_test_pre[i] == 0 :
        FN_test_index.append(y_test_index[i])
    if y_test.iloc[i] == 0 and y_test_pre[i] == 1 :
        FT_test_index.append(y_test_index[i])

print("False Negtive:")
print(df_process.loc[FN_test_index])
print("False Positive:")
print(df_process.loc[FT_test_index])

False Negtive:
      p1  p2    p3  p4  label
7851   0   0  2616   1      1
923    1   0   308   0      1
906    0   0   301   1      1
928    0   1   310   0      1
9973   0   1  3325   0      1
878    1   0   293   0      1
929    1   0   310   0      1
903    0   0   300   1      1
7840   0   1  2614   0      1
900    0   0   299   1      1
908    1   0   303   0      1
7842   0   0  2613   1      1
885    0   0   294   1      1
921    0   0   306   1      1
9870   0   0  3289   1      1
915    0   0   304   1      1
115    0   1    39   0      1
926    1   0   309   0      1
912    0   0   303   1      1
9864   0   0  3287   1      1
9781   0   1  3261   0      1
922    0   1   308   0      1
118    0   1    40   0      1
7841   1   0  2614   0      1
9867   0   0  3288   1      1
9496   0   1  3166   0      1
False Positive:
Empty DataFrame
Columns: [p1, p2, p3, p4, label]
Index: []

In [31]:
orig_data = df_process.iloc[:,:-1].copy()
orig_label = best_model.predict(orig_data)

print(orig_data)
print(orig_label)

         p1    p2    p3    p4
0         1     0     0     0
1         0     1     1     0
2         1     0     1     0
3         0     0     0     1
4         0     1     2     0
...     ...   ...   ...   ...
19995  1948  3267  3248    22
19996   678  2207  1707  1330
19997   796  3271  1813  1477
19998  2163   614  2392  2879
19999  1420  2443  2561  1150

[20000 rows x 4 columns]
[1 1 1 ... 0 0 0]

In [32]:
import xgboost as xgb
model = BaggingClassifierPU(xgb.XGBClassifier(),
                         n_estimators = 50, 
                         n_jobs = -1, 
                         max_samples = sum(y)  
                        )
model.fit(orig_data, orig_label)

BaggingClassifierPU(base_estimator=XGBClassifier(base_score=None, booster=None,
                                                 colsample_bylevel=None,
                                                 colsample_bynode=None,
                                                 colsample_bytree=None,
                                                 gamma=None, gpu_id=None,
                                                 importance_type='gain',
                                                 interaction_constraints=None,
                                                 learning_rate=None,
                                                 max_delta_step=None,
                                                 max_depth=None,
                                                 min_child_weight=None,
                                                 missing=nan,
                                                 monotone_constraints=None,
                                                 n_estimators=100, n_jobs=None,
                                                 num_parallel_tree=None,
                                                 random_state=None,
                                                 reg_alpha=None,
                                                 reg_lambda=None,
                                                 scale_pos_weight=None,
                                                 subsample=None,
                                                 tree_method=None,
                                                 validate_parameters=None,
                                                 verbosity=None),
                    max_samples=3077, n_estimators=50, n_jobs=-1)

In [33]:
#verification

import random

place_max = max(np.amax(df_process.iloc[:10000, [2]]))  #w_dependence
name1 = ['min', 'max', 'Precision', 'Recall', 'Accuracy', 'f1_score','time']
test = pd.DataFrame(columns=name1)


for i in range(1, 100):

    pu_start = time.perf_counter()
    
    pos_list = np.random.randint(low=0, high=10000, size=2000).tolist()
    neg_list = np.random.randint(low=10000, high=20000, size=2000).tolist()
    all_list = pos_list + neg_list
    
    flag1 = int((0.1 * (i - 1)) * place_max)
    flag2 = int((0.1 * i) * place_max)
    print(flag2)
    
    temp_data = df_process.iloc[all_list, : -1].copy()
    temp_label = df_process.iloc[all_list, -1].copy()
    
    temp_data.iloc[:, 2] = temp_data.iloc[:, 2] + random.randint((df_max[0] + flag1 + 1), ((df_max[0] + flag2 + 1)))
    
    print('======')
    print(temp_data.iloc[:, :])

    temp_max = max(np.amax(temp_data.iloc[:, [2]]))
    temp_min = min(np.amin(temp_data.iloc[:, [2]]))

    print('---- {} ----'.format(i))
    print('Precision: ', precision_score(temp_label, model.predict(temp_data)))
    print('Recall: ', recall_score(temp_label, model.predict(temp_data)))
    print('Accuracy: ', accuracy_score(temp_label, model.predict(temp_data)))
    print('f1_score: ', f1_score(temp_label, model.predict(temp_data)))
    
    
    orig_data = pd.concat([orig_data, temp_data], ignore_index=True)
    orig_label = pd.Series(orig_label.tolist() + model.predict(temp_data).tolist())
    model.fit(orig_data,orig_label)
    
    pu_end = time.perf_counter()

    test.loc[i] = [temp_min, temp_max,
                    precision_score(temp_label, model.predict(temp_data)),
                    recall_score(temp_label, model.predict(temp_data)),
                    accuracy_score(temp_label, model.predict(temp_data)),
                    f1_score(temp_label, model.predict(temp_data)),
                    (pu_end - pu_start)]
      
test.to_csv('../result/1_place_unknown_result.csv')

333
======
         p1    p2    p3    p4
835       0     1  3668     0
212       1     0  3460     0
9643      0     1  6604     0
2836      0     1  4335     0
4388      1     0  4852     0
...     ...   ...   ...   ...
18012   746  1552  4391  1450
16286   765  3247  3890  2149
12773     0     0  6072     0
18145  1511   257  4182  1026
19655  2633  2389  6266  1574

[4000 rows x 4 columns]
---- 1 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
666
======
       p1  p2    p3  p4
9008    1   0  6872   0
3028    0   1  4879   0
3109    0   1  4906   0
7933    0   1  6514   0
6054    0   0  5886   1
...    ..  ..   ...  ..
13545   0   0  6534   0
13317   1   0  5873   1
12829   0   1  6289   1
12639   1   1  4628   0
14838   1   1  4806   0

[4000 rows x 4 columns]
---- 2 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
999
======
         p1    p2    p3    p4
535       0     1  4454     0
803       1     0  4543     0
7418      1     0  6748     0
5601      0     0  6141     1
1797      0     0  4873     1
...     ...   ...   ...   ...
13724     0     0  4337     0
15035  2498  1526  6567  2845
15910  1549  1950  6842  2289
14292     1     1  7086     0
17396  2143  1291  5509  1688

[4000 rows x 4 columns]
---- 3 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
1333
======
         p1    p2    p3    p4
502       0     1  4534     0
4822      0     1  5974     0
7698      0     0  6931     1
604       0     1  4568     0
6933      0     0  6676     1
...     ...   ...   ...   ...
19248   985   883  5957   856
18637   627  1029  5730  1970
11051     1     0  5106     1
17219  2411   202  5424   600
16885   484   152  4830  1042

[4000 rows x 4 columns]
---- 4 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
1666
======
       p1  p2    p3  p4
7000    0   1  7020   0
6110    1   0  6723   0
7101    0   0  7052   1
2345    1   0  5468   0
5742    0   0  6599   1
...    ..  ..   ...  ..
11589   0   1  6259   1
14705   1   1  4757   0
14215   0   0  7775   0
14296   1   1  5490   1
13299   1   0  7693   1

[4000 rows x 4 columns]
---- 5 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
1999
======
         p1    p2    p3    p4
8151      0     0  7760     1
9025      0     1  8053     0
8178      0     0  7769     1
369       0     0  5166     1
4447      0     1  6527     0
...     ...   ...   ...   ...
13196     1     0  8084     1
16629  1689  2489  5158  1343
17334   255  2128  7356  1130
18011  1058  1609  5206  2764
14365     1     1  5058     1

[4000 rows x 4 columns]
---- 6 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
2333
======
         p1    p2    p3    p4
98        1     0  5474     0
5715      0     0  7345     1
6463      0     1  7596     0
1349      1     0  5891     0
3213      0     0  6511     1
...     ...   ...   ...   ...
14114     1     0  8429     1
17368   916  2024  6825  1780
17276  1513   129  7524    47
18281   481  1860  5744   587
15214   146  3283  6512  1948

[4000 rows x 4 columns]
---- 7 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
2666
======
         p1    p2    p3    p4
4084      0     1  7211     0
5826      0     0  7790     1
8251      0     1  8600     0
7037      1     0  8195     0
2732      1     0  6760     0
...     ...   ...   ...   ...
17292    90  1657  6127  1435
11288     1     0  7156     1
12796     1     1  8197     0
10921     1     1  8432     0
17733  1612   690  6395   457

[4000 rows x 4 columns]
---- 8 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
2999
======
         p1    p2    p3    p4
5194      0     1  7882     0
2301      0     0  6916     1
1846      0     1  6766     0
4188      0     0  7545     1
6073      0     1  8175     0
...     ...   ...   ...   ...
15538  1664  2393  7161  2694
11436     1     1  6381     0
15075  2714  2953  6324  1777
11935     1     0  8654     1
12646     0     1  8136     1

[4000 rows x 4 columns]
---- 9 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
3333
======
         p1   p2    p3    p4
4760      1    0  8122     0
5998      0    1  8535     0
8805      0    0  9469     1
5427      0    0  8343     1
9602      1    0  9736     0
...     ...  ...   ...   ...
18889  1082  597  6731  2582
10414     0    0  8173     0
11626     0    0  6929     0
13687     1    1  9218     1
14164     1    1  9826     0

[4000 rows x 4 columns]
---- 10 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
3666
======
         p1    p2    p3    p4
726       0     0  6934     1
96        0     0  6724     1
6874      0     1  8985     0
4070      1     0  8050     0
2937      0     0  7671     1
...     ...   ...   ...   ...
10010     1     1  6694     1
15959  2456  2774  7508  3109
11779     1     1  7523     1
12264     0     0  7254     0
12912     0     1  7905     1

[4000 rows x 4 columns]
---- 11 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
3999
======
         p1    p2     p3    p4
9706      0     1  10251     0
6050      1     0   9032     0
3640      0     1   8229     0
1665      0     0   7569     1
5570      1     0   8872     0
...     ...   ...    ...   ...
16760  2644  2189   9327  2810
10536     1     0  10185     1
12429     1     1   8973     0
17741  1922  2986   9429   395
18632  2331   543  10314  2653

[4000 rows x 4 columns]
---- 12 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
4332
======
         p1    p2    p3    p4
4418      1     0  8883     0
4406      1     0  8879     0
3439      0     1  8557     0
4606      0     1  8946     0
3069      0     0  8432     1
...     ...   ...   ...   ...
12321     0     1  8138     1
12305     0     1  9524     1
15008   652  1083  8502  1846
12933     1     1  8158     1
19251  1808  1380  8961  2197

[4000 rows x 4 columns]
---- 13 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
4666
======
         p1    p2     p3    p4
1858      0     1   8552     0
5413      0     1   9737     0
8245      0     1  10681     0
8311      0     1  10703     0
6284      1     0  10027     0
...     ...   ...    ...   ...
19709   115  3033   9273   417
15404  1517  2960   9299  1800
15899  3160  2229  11015    23
12386     1     0   8920     1
19794  1492  1056  10084    20

[4000 rows x 4 columns]
---- 14 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
4999
======
         p1    p2     p3    p4
5259      0     0   9864     1
7614      0     0  10649     1
8155      0     1  10831     0
2090      1     0   8809     0
8626      0     1  10988     0
...     ...   ...    ...   ...
11719     1     1  11366     0
13956     1     1  11303     0
16407  2217  1266   9712  2786
19165  2212  2623   9080  2071
16363  1463  3188  10794  1152

[4000 rows x 4 columns]
---- 15 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
5332
======
         p1    p2     p3    p4
7626      0     0  10996     1
8021      1     0  11129     0
4944      0     0  10102     1
7369      0     1  10912     0
46        0     1   8471     0
...     ...   ...    ...   ...
19983  1122  2472   9221  2471
15773  1098   787   9117  2248
13273     0     0  10705     0
12534     0     0  11240     0
16034   704  1577   9172  2627

[4000 rows x 4 columns]
---- 16 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
5666
======
         p1    p2     p3    p4
6879      0     0  11127     1
5768      1     0  10758     0
2364      0     0   9622     1
6891      0     0  11131     1
436       0     1   8981     0
...     ...   ...    ...   ...
15623  1314  2709   9348   746
13813     1     1  11279     1
19663  2421  1600  10792  1494
16125  1427  1263   9421   819
14299     1     0  10404     1

[4000 rows x 4 columns]
---- 17 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
5999
======
         p1    p2     p3    p4
8663      1     0  11896     0
175       0     1   9067     0
1657      0     1   9561     0
4444      0     1  10490     0
9098      1     0  12041     0
...     ...   ...    ...   ...
18458  2444  1314  10340  2925
19579  2340  1133  11345   172
19437  2998  1946   9332  3162
16100  1185  1208  10174   409
16524  1597  1883   9519  1444

[4000 rows x 4 columns]
---- 18 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
6332
======
         p1    p2     p3   p4
9822      0     0  12661    1
7355      1     0  11840    0
8082      0     0  12081    1
3456      0     0  10539    1
6231      0     0  11464    1
...     ...   ...    ...  ...
12562     1     1  10156    0
11262     0     1  10517    1
18603  2857  2062  10311  937
10957     0     1   9899    1
12079     1     0  12171    1

[4000 rows x 4 columns]
---- 19 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
6666
======
         p1    p2     p3    p4
6727      0     1  12208     0
9107      1     0  13001     0
7487      1     0  12461     0
1709      1     0  10535     0
1775      1     0  10557     0
...     ...   ...    ...   ...
17017  2430  1183  12656  2784
18949    57   813  11439  2391
12613     0     1  11654     1
14615     1     0  12089     1
18875  1447   221  12439  1727

[4000 rows x 4 columns]
---- 20 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
6999
======
         p1    p2     p3    p4
1942      0     1  10819     0
3870      0     0  11460     1
4277      1     0  11597     0
1135      0     1  10550     0
333       0     0  10281     1
...     ...   ...    ...   ...
18601   414   136  11525  2709
15770  1537  2704  13349  2404
18828  1895  2501  10811   713
18282  1871    21  12039  2810
16804  1755  1047  11738  1241

[4000 rows x 4 columns]
---- 21 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
7332
======
         p1    p2     p3    p4
3331      0     1  11511     0
9071      1     0  13424     0
4924      0     1  12042     0
58        0     1  10420     0
4071      0     0  11756     1
...     ...   ...    ...   ...
13551     1     1  12985     0
10913     1     1  12599     0
12995     1     0  10728     1
18479  3025  1566  11774   326
16126   830  3039  12061  1459

[4000 rows x 4 columns]
---- 22 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
7665
======
         p1    p2     p3    p4
7473      0     0  13214     1
4350      0     0  12173     1
1561      0     1  11245     0
7479      0     0  13216     1
413       1     0  10862     0
...     ...   ...    ...   ...
11913     0     1  12200     1
17948  1902  1296  11859  2695
11283     1     1  10832     1
13026     1     1  12290     1
14327     1     1  13301     1

[4000 rows x 4 columns]
---- 23 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
7999
======
         p1    p2     p3    p4
7989      0     0  13934     1
2973      0     0  12262     1
7696      0     1  13838     0
1202      1     0  11673     0
1503      0     0  11772     1
...     ...   ...    ...   ...
10067     0     1  11342     1
13739     1     0  14508     1
16733  1582  1985  12853  2961
17354   510  2554  11844  2217
11896     1     1  12521     1

[4000 rows x 4 columns]
---- 24 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
8332
======
         p1    p2     p3    p4
8853      0     0  14598     1
6874      0     1  13940     0
9081      0     0  14674     1
3839      1     0  12928     0
3251      1     0  12732     0
...     ...   ...    ...   ...
18111  1460  2856  14506  1307
10741     0     0  13402     0
17092  1549   843  12971  2115
14877     0     0  13338     0
14578     1     1  14745     1

[4000 rows x 4 columns]
---- 25 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
8665
======
         p1    p2     p3    p4
5074      0     1  13427     0
3702      0     0  12968     1
8465      1     0  14557     0
9874      0     1  15027     0
7453      0     1  14220     0
...     ...   ...    ...   ...
19318  2086  1555  11789  1806
17691  2571   965  11799  1035
14852     0     1  13704     1
10025     0     1  12630     1
12046     1     1  14060     0

[4000 rows x 4 columns]
---- 26 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
8999
======
         p1    p2     p3    p4
5035      0     1  13879     0
9706      0     1  15436     0
814       0     1  12472     0
6954      0     0  14517     1
7123      0     1  14575     0
...     ...   ...    ...   ...
16392  1701   846  15129  1086
19324   615    34  13772  1913
14946     0     0  14318     0
12835     0     0  14589     0
19079   743  2700  12435  1104

[4000 rows x 4 columns]
---- 27 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
9332
======
         p1    p2     p3    p4
2302      0     1  13204     0
2454      0     0  13253     1
8113      0     1  15141     0
7469      1     0  14926     0
9831      0     0  15712     1
...     ...   ...    ...   ...
14922     1     1  14039     0
10698     1     1  13699     0
16125  1427  1263  13022   819
18739   230   739  13163  2765
12151     0     1  15486     1

[4000 rows x 4 columns]
---- 28 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
9665
======
         p1    p2     p3    p4
3036      0     0  13939     1
8453      1     0  15746     0
952       0     1  13246     0
8270      1     0  15685     0
9186      0     0  15989     1
...     ...   ...    ...   ...
13754     1     1  12959     1
15757  2249  1306  13813   898
17377   418  2783  15426  1966
17198  1474  1660  13974  2920
19553  2847  2920  13018  1607

[4000 rows x 4 columns]
---- 29 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
9999
======
       p1  p2     p3  p4
4       0   1  13275   0
7832    1   0  15884   0
8389    0   1  16070   0
3711    0   0  14509   1
5397    0   0  15071   1
...    ..  ..    ...  ..
13998   1   1  16053   0
10811   1   1  16400   1
10951   1   1  13702   0
11732   1   0  15400   1
10348   0   1  14188   1

[4000 rows x 4 columns]
---- 30 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
10332
======
         p1    p2     p3    p4
9142      0     1  16702     0
1292      1     0  14085     0
1239      0     0  14066     1
5400      0     0  15453     1
907       0     1  13957     0
...     ...   ...    ...   ...
16574  1409  2780  13694  2970
19924  2840   259  14547  2143
11833     0     0  14367     0
18008   277  2875  15938   676
12607     0     1  15508     1

[4000 rows x 4 columns]
---- 31 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
10665
======
         p1    p2     p3    p4
4763      1     0  15562     0
7891      0     1  16605     0
6880      0     1  16268     0
5967      0     0  15962     1
1830      0     0  14583     1
...     ...   ...    ...   ...
17581   117  3005  16290  1219
19894  2383  1038  15105  1856
12949     1     1  16819     1
10254     0     0  15969     0
10531     1     1  15142     0

[4000 rows x 4 columns]
---- 32 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
10998
======
         p1   p2     p3    p4
8896      0    1  17029     0
8457      0    0  16881     1
9538      0    1  17243     0
9893      1    0  17361     0
9147      0    0  17111     1
...     ...  ...    ...   ...
11265     1    1  17199     1
10182     0    1  14933     1
15631  2998   16  16941  1280
15199  1048  853  14951  1541
13636     0    1  14775     1

[4000 rows x 4 columns]
---- 33 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
11332
======
         p1   p2     p3    p4
5164      0    1  16351     0
9331      0    1  17740     0
2452      0    1  15447     0
6980      1    0  16956     0
2141      1    0  15343     0
...     ...  ...    ...   ...
18604  1684  253  17774  2081
11730     0    0  15030     0
17300  1679  683  17722   918
11018     1    1  16784     1
12959     1    1  16180     1

[4000 rows x 4 columns]
---- 34 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
11665
======
         p1   p2     p3    p4
7138      0    1  17306     0
4885      0    1  16555     0
4047      0    0  16274     1
7979      1    0  17586     0
1081      0    1  15287     0
...     ...  ...    ...   ...
10272     0    0  15063     0
12223     0    0  17943     0
17519  2633  472  15840  3250
19673  1464  329  17208   571
15558  2601  813  17865  1638

[4000 rows x 4 columns]
---- 35 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
11998
======
         p1    p2     p3    p4
9458      1     0  18436     0
8300      1     0  18050     0
2896      0     1  16249     0
5729      1     0  17193     0
3776      1     0  16542     0
...     ...   ...    ...   ...
11338     1     1  15685     0
13036     1     1  16186     1
12818     0     0  17102     0
16057  3181  3095  17974   467
19340   449   412  15733  1357

[4000 rows x 4 columns]
---- 36 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
12332
======
         p1    p2     p3    p4
4582      0     1  17123     0
1202      1     0  15996     0
3049      0     1  16612     0
9129      0     0  18637     1
2584      0     1  16457     0
...     ...   ...    ...   ...
19532   125  2276  18534  1598
14453     1     1  18493     0
16416  2644  2444  16064  2798
17877  3024  1219  18313  1219
19512  1483   954  16600   181

[4000 rows x 4 columns]
---- 37 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
12665
======
         p1    p2     p3    p4
8416      0     1  18745     0
2010      0     0  16608     1
6441      0     0  18085     1
3036      0     0  16950     1
6260      1     0  18026     0
...     ...   ...    ...   ...
15852  2619  1697  17846  2404
17681   932  1751  16739  2266
10543     1     0  17679     1
11165     1     1  18848     1
16832    39  3135  17929  2675

[4000 rows x 4 columns]
---- 38 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
12998
======
         p1    p2     p3   p4
3227      1     0  17276    0
1692      0     0  16763    1
9786      0     0  19461    1
1794      0     0  16797    1
199       0     1  16267    0
...     ...   ...    ...  ...
13099     0     1  16824    1
18935  3221  2661  18775  322
12400     0     1  16946    1
16122  2758  2579  19438  306
10517     0     0  18949    0

[4000 rows x 4 columns]
---- 39 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
13332
======
         p1    p2     p3    p4
1903      0     1  17295     0
4434      0     0  18137     1
1253      1     0  17078     0
1204      0     1  17062     0
5755      0     1  18579     0
...     ...   ...    ...   ...
12271     0     0  17961     0
17183  2964  2486  16845  1018
13437     0     0  19833     0
11708     1     1  17419     1
16490  2008  2509  16686  2349

[4000 rows x 4 columns]
---- 40 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
13665
======
         p1    p2     p3    p4
8549      1     0  19714     0
4856      1     0  18483     0
148       0     1  16914     0
9559      0     1  20051     0
1233      0     0  17274     1
...     ...   ...    ...   ...
11934     1     0  17942     1
17440   595  2780  17675  2605
11559     1     1  17440     1
16891  1529  2628  18440  1288
10757     0     0  17393     0

[4000 rows x 4 columns]
---- 41 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
13998
======
         p1    p2     p3    p4
3435      0     0  18294     1
9485      1     0  20312     0
9017      1     0  20156     0
5562      0     0  19003     1
4455      0     0  18634     1
...     ...   ...    ...   ...
17708  2541  2013  20204  1593
10266     0     0  19680     0
15835  1439   892  17858  2594
13929     1     1  18739     1
10427     1     0  19612     1

[4000 rows x 4 columns]
---- 42 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
14331
======
        p1    p2     p3    p4
8680     0     1  20396     0
2772     0     0  18425     1
4282     0     1  18930     0
9298     0     1  20602     0
5680     0     1  19396     0
...    ...   ...    ...   ...
17735  860  1436  18719  2790
14007    1     0  18510     1
14193    0     0  20493     0
10798    0     1  18757     1
19767  125  2604  19067  1333

[4000 rows x 4 columns]
---- 43 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
14665
======
         p1    p2     p3    p4
9225      0     0  21016     1
3599      1     0  19142     0
4956      0     0  19593     1
5324      1     0  19717     0
2635      0     1  18821     0
...     ...   ...    ...   ...
14768     1     1  18696     1
12530     0     0  19363     0
11791     1     0  20503     1
19975  2356  1332  18043   607
18050  1466   778  20004  2604

[4000 rows x 4 columns]
---- 44 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
14998
======
         p1    p2     p3    p4
5605      0     1  19945     0
3819      0     0  19348     1
1530      0     0  18585     1
398       1     0  18209     0
8711      1     0  20980     0
...     ...   ...    ...   ...
18146  1510  1809  18537  3241
19187  1672  1161  18185  3291
17108   695  2287  20054     5
10519     1     0  20629     1
15351  2786  1954  21134   469

[4000 rows x 4 columns]
---- 45 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
15331
======
         p1   p2     p3    p4
1367      1    0  18914     0
8955      0    0  21442     1
4785      0    0  20052     1
3705      0    0  19692     1
3618      0    0  19663     1
...     ...  ...    ...   ...
12157     0    0  21049     0
13724     0    0  18520     0
10682     1    1  21708     1
18084  1313  599  21064  2749
17659   966  290  21316  1166

[4000 rows x 4 columns]
---- 46 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
15665
======
         p1    p2     p3    p4
216       0     0  18990     1
1534      0     1  19431     0
5927      1     0  20895     0
6897      0     0  21217     1
7581      0     0  21445     1
...     ...   ...    ...   ...
19174  2857  1173  19117   885
14620     1     1  22199     0
18170  2668  1879  21971  2003
18076   875  2237  20722  1335
15472   750  2360  20097   451

[4000 rows x 4 columns]
---- 47 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
15998
======
         p1    p2     p3    p4
266       1     0  19252     0
4155      0     0  20547     1
8190      0     0  21892     1
2696      1     0  20062     0
2915      1     0  20135     0
...     ...   ...    ...   ...
16884   326  1348  19689   218
12914     1     1  21251     1
16866  3009  1623  21872   146
19302  2999  1334  21426   316
16168  2548    64  19782  1087

[4000 rows x 4 columns]
---- 48 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
16331
======
         p1    p2     p3    p4
7811      1     0  21937     0
8853      0     0  22283     1
9417      0     0  22471     1
4143      0     0  20713     1
1520      1     0  19840     0
...     ...   ...    ...   ...
19959  3093  2349  20309  1148
15353  2173  1103  20238  2570
10798     0     1  20588     1
13555     1     1  21165     1
14805     1     1  22046     0

[4000 rows x 4 columns]
---- 49 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
16665
======
        p1    p2     p3    p4
8032     0     1  22503     0
7529     1     0  22335     0
9961     0     1  23146     0
511      0     1  19996     0
5426     1     0  21634     0
...    ...   ...    ...   ...
11933    0     1  21057     1
17145  691  2378  20310   895
14681    1     1  23085     1
10211    0     1  22313     1
19812  419  2506  22560  2501

[4000 rows x 4 columns]
---- 50 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
16998
======
         p1    p2     p3    p4
8933      1     0  23157     0
6551      1     0  22363     0
2589      0     0  21041     1
3139      0     1  21226     0
7153      0     1  22564     0
...     ...   ...    ...   ...
19034  2717  2012  22623   405
19137  2930  2160  20404   135
16209  1390  2296  21845  2768
14461     1     1  21202     1
17178  2934  1999  21890  3023

[4000 rows x 4 columns]
---- 51 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
17331
======
         p1    p2     p3    p4
8002      0     1  23002     0
6987      0     0  22662     1
5826      0     0  22275     1
7623      0     0  22874     1
6459      0     0  22486     1
...     ...   ...    ...   ...
17638   796  1026  20485  2181
14050     1     1  21482     0
13692     0     1  20391     1
16155  2202  1178  22837  2462
19796   132  2198  20985  2016

[4000 rows x 4 columns]
---- 52 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
17664
======
         p1    p2     p3    p4
5472      0     0  22724     1
1335      0     0  21345     1
8489      1     0  23731     0
9439      0     1  24048     0
290       1     0  20998     0
...     ...   ...    ...   ...
11292     1     0  23572     1
11683     1     1  21152     1
18754   274  2650  21652  1018
17041  1191  2162  21705  1780
14610     1     0  21645     1

[4000 rows x 4 columns]
---- 53 ----

Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
17998
======
         p1    p2     p3    p4
6031      0     1  23286     0
9793      0     1  24540     0
3913      0     1  22580     0
1221      0     0  21681     1
8717      1     0  24181     0
...     ...   ...    ...   ...
16879  2723  2693  23191  2883
13546     0     1  23927     1
19037  2272  2415  21992   462
18292  2536  2552  21555  2630
11664     0     0  23341     0

[4000 rows x 4 columns]
---- 54 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
18331
======
         p1  p2     p3    p4
6823      0   1  23754     0
8042      1   0  24160     0
1941      0   0  22125     1
7195      0   1  23878     0
917       1   0  21785     0
...     ...  ..    ...   ...
15464  1401  36  23008  3000
14116     1   1  24218     0
13677     1   1  24370     0
10479     1   1  24600     1
12297     1   0  22624     1

[4000 rows x 4 columns]
---- 55 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
18664
======
         p1    p2     p3    p4
1666      0     1  22385     0
2007      0     0  22497     1
9128      1     0  24872     0
3576      0     0  23020     1
1888      0     1  22459     0
...     ...   ...    ...   ...
19265  1347  1521  23103  1005
19237  3206  2986  23130  2878
15887  1848  2396  24509  1024
16005   557  3118  23189   331
18249  2912  2305  22283  3181

[4000 rows x 4 columns]
---- 56 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
18998
======
         p1    p2     p3    p4
383       1     0  22267     0
3658      0     1  23359     0
2071      0     1  22830     0
1218      0     0  22544     1
8763      0     0  25059     1
...     ...   ...    ...   ...
18524  2975  1079  24893  2918
11798     1     1  24969     1
14419     1     1  24812     0
12427     1     1  22353     1
16838  2121  1569  23995  2092

[4000 rows x 4 columns]
---- 57 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
19331
======
         p1    p2     p3    p4
309       0     0  22514     1
1727      1     0  22988     0
652       0     1  22630     0
7089      0     0  24774     1
6338      1     0  24525     0
...     ...   ...    ...   ...
14055     0     0  24055     0
16357   101  1974  24007  1980
12474     1     1  25549     1
15902  1443  1013  25672  1989
12070     1     1  23284     1

[4000 rows x 4 columns]
---- 58 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
19664
======
         p1    p2     p3    p4
4608      0     0  24485     1
6923      1     0  25258     0
3938      1     0  24263     0
5604      0     0  24817     1
6146      1     0  24999     0
...     ...   ...    ...   ...
15649  3022  2488  24895  1919
14278     1     0  25453     1
14131     0     1  25982     1
12301     1     0  24182     1
10257     1     1  23474     0

[4000 rows x 4 columns]
---- 59 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
19998
======
         p1    p2     p3    p4
2633      1     0  24002     0
7031      1     0  25468     0
3568      0     1  24314     0
4362      0     0  24577     1
4399      0     1  24591     0
...     ...   ...    ...   ...
17912   356   969  23150  2829
16016  2951  3262  23325  3316
13061     0     0  25856     0
18349   732   243  23187  3230
16386  2726  1486  26164  1495

[4000 rows x 4 columns]
---- 60 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
20331
======
         p1    p2     p3    p4
3941      1     0  24970     0
8972      1     0  26647     0
8976      0     0  26647     1
3558      0     0  24841     1
5591      1     0  25520     0
...     ...   ...    ...   ...
11651     0     0  24987     0
15010   242   318  25604  1822
15228  1930  2817  24934  2282
19683  2224  2710  26006  2306
10207     1     1  23910     1

[4000 rows x 4 columns]
---- 61 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
20664
======
         p1   p2     p3   p4
4841      1    0  25345    0
2409      0    0  24533    1
9580      0    1  26925    0
3527      1    0  24907    0
7291      0    1  26162    0
...     ...  ...    ...  ...
17410  1003  220  24885  762
14800     1    1  26295    0
12693     0    1  25829    1
14467     1    1  23829    1
13316     1    1  26666    1

[4000 rows x 4 columns]
---- 62 ----
Precision:  0.999000999000999
Recall:  1.0
Accuracy:  0.9995
f1_score:  0.9995002498750626
20997
======
         p1    p2     p3    p4
1559      1     0  24737     0
9513      0     0  27387     1
2864      1     0  25172     0
5151      0     0  25933     1
7393      0     1  26682     0
...     ...   ...    ...   ...
16163  3329  3308  25709  1162
11999     0     1  26426     1
13609     1     1  24348     1
12957     0     1  25333     1
15963  3066  3129  25344  1151

[4000 rows x 4 columns]
---- 63 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
21331
======
         p1    p2     p3    p4
2518      0     1  25285     0
7930      0     1  27089     0
8763      0     0  27365     1
3658      0     1  25665     0
4036      0     1  25791     0
...     ...   ...    ...   ...
18851  2281   288  26604  2696
10441     0     0  27732     0
17976  1965  1970  24826  1691
15526  2953   240  26483    47
19065  2684  2805  26935  2425

[4000 rows x 4 columns]
---- 64 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
21664
======
         p1    p2     p3    p4
7004      1     0  27099     0
5098      0     1  26464     0
3102      0     0  25797     1
8320      0     1  27538     0
2139      0     0  25476     1
...     ...   ...    ...   ...
13997     0     0  26771     0
15164   429  3293  28072  2607
18573   852   289  26942  2312
14731     0     1  25593     1
16063  1891  1548  25027   300

[4000 rows x 4 columns]
---- 65 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
21997
======
         p1    p2     p3    p4
1312      0     1  25711     0
5166      0     0  26994     1
3072      0     0  26296     1
8800      0     1  28207     0
1816      0     1  25879     0
...     ...   ...    ...   ...
18301  2682  1198  26053   761
13203     1     1  26206     0
13144     1     0  28253     1
15201  1944  1779  28247  2875
12678     1     1  25459     1

[4000 rows x 4 columns]
---- 66 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
22331
======
         p1    p2     p3   p4
2280      0     0  26408    1
9668      1     0  28872    0
2432      1     0  26460    0
1680      0     0  26208    1
3410      1     0  26786    0
...     ...   ...    ...  ...
13171     1     1  27948    1
12392     1     0  27388    1
16368   684  3238  27711  620
19741  1086   902  26836  891
10514     1     1  26616    1

[4000 rows x 4 columns]
---- 67 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
22664
======
         p1    p2     p3    p4
8985      0     0  28837     1
157       0     1  25896     0
5845      0     1  27792     0
438       0     0  25988     1
1399      0     1  26310     0
...     ...   ...    ...   ...
17666  1611  2389  28315   629
19450  2827  2523  26429  2282
17288  1472   725  28694  2699
18853  2075  3316  27399   337
19607  2505   684  27268  1867

[4000 rows x 4 columns]
---- 68 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
22997
======
         p1    p2     p3    p4
7581      0     0  28801     1
4924      0     1  27917     0
6942      0     0  28588     1
9623      1     0  29483     0
8602      0     1  29143     0
...     ...   ...    ...   ...
11506     1     1  27883     1
18042  1653  2752  26435   691
15379   426  2482  29368  1334
17786    84   335  27898   230
13525     0     1  27070     1

[4000 rows x 4 columns]
---- 69 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
23331
======
         p1    p2     p3    p4
7874      1     0  29247     0
8476      0     1  29448     0
9448      0     1  29772     0
9930      0     0  29931     1
4705      0     1  28191     0
...     ...   ...    ...   ...
17166  2969  2622  29044   694
12828     0     0  28527     0
18982  2192  1704  28730  3308
11664     0     0  28688     0
12779     0     1  29538     1

[4000 rows x 4 columns]
---- 70 ----

Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
23664
======
         p1    p2     p3   p4
9966      0     0  30180    1
3750      0     0  28108    1
6688      0     1  29089    0
1847      1     0  27475    0
9077      1     0  29885    0
...     ...   ...    ...  ...
10862     1     0  27703    1
14145     0     0  28971    0
10534     1     1  28029    0
19388  2143  2764  29171  494
17855  3066  1900  28086  137

[4000 rows x 4 columns]
---- 71 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
23997
======
         p1    p2     p3    p4
4589      1     0  28707     0
641       1     0  27391     0
9235      0     1  30256     0
226       0     1  27253     0
1747      0     1  27760     0
...     ...   ...    ...   ...
15973   474  2833  29858  1185
14348     1     0  30281     1
17303  2156   836  28127  1865
14931     1     0  30375     1
19398   383  1794  29091  3079

[4000 rows x 4 columns]
---- 72 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
24330
======
         p1    p2     p3    p4
7923      0     0  30044     1
9346      0     1  30520     0
4452      0     0  28887     1
9685      0     1  30633     0
9161      1     0  30458     0
...     ...   ...    ...   ...
12998     1     1  28780     0
19714  1070  2257  29003   564
13357     1     1  28191     0
17572  1126  1428  27682  1924
11754     0     0  29687     0

[4000 rows x 4 columns]
---- 73 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
24664
======
         p1    p2     p3    p4
4673      1     0  29323     0
9826      0     1  31041     0
9066      0     0  30786     1
2297      1     0  28531     0
1969      0     1  28422     0
...     ...   ...    ...   ...
12792     1     0  30431     1
18552  2015  2413  31033   646
15585  1448  2512  28315  2656
11712     1     1  27893     0
13309     1     1  30571     1

[4000 rows x 4 columns]
---- 74 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
24997
======
         p1    p2     p3    p4
878       1     0  28404     0
1178      1     0  28504     0
8626      0     1  30987     0
7782      0     0  30704     1
8888      1     0  31074     0
...     ...   ...    ...   ...
15965  1826  1799  29855  1516
15545  2152  3308  31104  3098
11933     0     1  29343     1
11727     0     1  30310     1
16349  2639   922  29263  3236

[4000 rows x 4 columns]
---- 75 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
25330
======
         p1    p2     p3    p4
103       0     1  28446     0
1247      1     0  28827     0
5975      1     0  30403     0
1607      1     0  28947     0
4710      0     0  29980     1
...     ...   ...    ...   ...
13558     1     1  31695     1
16237  1838   889  30856   268
16065   367   171  30594  3093
10017     1     1  31548     0
16247   402  1742  28726  1203

[4000 rows x 4 columns]
---- 76 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
25664
======
         p1    p2     p3    p4
4844      1     0  30592     0
3256      0     1  30063     0
4015      0     1  30316     0
3850      0     1  30261     0
7770      0     0  31566     1
...     ...   ...    ...   ...
12736     1     1  31570     0
15634  1450  3186  30219  1968
17414  1066  1518  32007  1756
17299  2977  1271  31085  2413
12758     0     0  32207     0

[4000 rows x 4 columns]
---- 77 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
25997
======
         p1    p2     p3    p4
6455      1     0  31392     0
6173      1     0  31298     0
5139      0     0  30952     1
3660      0     0  30459     1
3056      1     0  30259     0
...     ...   ...    ...   ...
17122  2011  2519  29621  2852
19835   143  1524  30899   663
14698     1     1  31346     1
16169  2066  1616  32424   682
19318  2086  1555  29294  1806

[4000 rows x 4 columns]
---- 78 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
26330
======
         p1    p2     p3    p4
4465      0     1  31004     0
4539      0     0  31027     1
1135      0     1  29894     0
1326      0     0  29956     1
4387      0     1  30978     0
...     ...   ...    ...   ...
18357  2125   564  32300   842
14569     0     1  30315     1
17577  1261  1657  30897  2753
15663  2655  2673  30217  2932
13959     0     1  29600     1

[4000 rows x 4 columns]
---- 79 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
26664
======
         p1    p2     p3    p4
7630      0     1  32409     0
3691      0     1  31096     0
8256      0     0  32616     1
8652      0     0  32748     1
9808      0     1  33135     0
...     ...   ...    ...   ...
19408  1816   337  30527   467
15997  2754  1996  32375   465
10906     1     1  30814     0
17386  2733  1603  31966  2453
16533  3075  2892  31894   746

[4000 rows x 4 columns]
---- 80 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
26997
======
         p1    p2     p3    p4
6927      0     0  32454     1
157       0     1  30199     0
3670      0     1  31370     0
3415      0     1  31285     0
7399      0     1  32613     0
...     ...   ...    ...   ...
15943  1296   168  30817  1915
18079  1798   547  30930  2762
19265  1347  1521  31420  1005
19238  2725   587  31318  1652
17425  1444    55  30233  2314

[4000 rows x 4 columns]
---- 81 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
27330
======
         p1    p2     p3    p4
39        0     0  30524     1
8838      0     0  33457     1
8820      0     0  33451     1
6741      0     0  32758     1
2741      1     0  31426     0
...     ...   ...    ...   ...
13155     1     1  33704     1
15248   674  3220  31833   441
19299  2622   749  31395  3312
19593  1062  3235  32429  1567
17852  1868  1417  32506  2949

[4000 rows x 4 columns]
---- 82 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
27663
======
         p1    p2     p3    p4
8791      0     1  33835     0
8784      0     0  33831     1
5750      1     0  32821     0
9072      0     0  33927     1
779       1     0  31164     0
...     ...   ...    ...   ...
11641     0     1  33167     1
17539  3263  2646  31374  1457
16816   756   990  33840  2158
10633     1     1  31561     0
15418  2633   769  32698  1234

[4000 rows x 4 columns]
---- 83 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
27997
======
         p1    p2     p3    p4
2300      1     0  31846     0
1284      0     0  31506     1
8235      0     0  33823     1
9871      0     1  34370     0
1181      1     0  31473     0
...     ...   ...    ...   ...
16074  1569   755  31123  1062
10994     1     1  31452     0
15368  1822   841  33023  2563
16727  2994  2482  34161   273
18292  2536  2552  31359  2630

[4000 rows x 4 columns]
---- 84 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
28330
======
         p1    p2     p3    p4
7646      1     0  34017     0
1774      0     1  32060     0
7421      1     0  33942     0
8058      0     0  34153     1
2061      0     0  32154     1
...     ...   ...    ...   ...
12435     1     0  33276     1
19487  3215  3207  32743  2446
15234    56  1092  31768  1164
15378  3288   977  34505  1026
11161     1     1  33063     1

[4000 rows x 4 columns]
---- 85 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
28663
======
         p1   p2     p3    p4
4754      1    0  33533     0
6367      0    1  34071     0
3953      1    0  33266     0
6056      1    0  33967     0
2080      0    1  32642     0
...     ...  ...    ...   ...
19133  2799  911  32065  2499
13512     0    1  32907     1
10454     0    0  32900     0
15670   124  729  33588   106
17962   865  534  31975    50

[4000 rows x 4 columns]
---- 86 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
28997
======
         p1    p2     p3    p4
6405      0     0  34296     1
9845      1     0  35444     0
74        1     0  32187     0
6009      0     0  34164     1
5960      1     0  34149     0
...     ...   ...    ...   ...
13857     0     1  34533     1
18294  3151   893  33873  1779
12517     0     0  33982     0
16735   702  3268  33887  3019
19696  2428   734  33809   818

[4000 rows x 4 columns]
---- 87 ----
Precision:  1.0

Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
29330
======
         p1   p2     p3    p4
3341      1    0  33478     0
28        0    1  32374     0
7848      0    0  34979     1
9890      1    0  35661     0
28        0    1  32374     0
...     ...  ...    ...   ...
14531     0    1  32397     1
15501  1455  573  32822  2835
18581  2086  172  32970   477
14314     0    0  34094     0
13645     1    1  33136     1

[4000 rows x 4 columns]
---- 88 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
29663
======
         p1    p2     p3    p4
7571      1     0  35321     0
2806      0     1  33733     0
474       0     0  32954     1
7359      0     0  35249     1
6243      0     0  34877     1
...     ...   ...    ...   ...
11416     0     0  34571     0
17704  1003  2467  35582   775
11809     1     1  32845     1
18058  2072   561  33087   111
18201  2710  1659  35805  3062

[4000 rows x 4 columns]
---- 89 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
29997
======
         p1    p2     p3    p4
4111      0     1  34612     0
3375      0     0  34365     1
1580      1     0  33768     0
1415      1     0  33713     0
615       0     0  33445     1
...     ...   ...    ...   ...
12461     1     1  34002     1
11077     1     0  34694     1
16798   632   367  33403  2368
19747  1449   658  34452   899
19312  1877  1187  33782   323

[4000 rows x 4 columns]
---- 90 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
30330
======
        p1    p2     p3   p4
6670     0     1  35576    0
5809     0     1  35289    0
3103     0     1  34387    0
2629     0     1  34229    0
3683     1     0  34580    0
...    ...   ...    ...  ...
10657    0     1  34914    1
12648    0     0  34956    0
10268    0     0  35547    0
10525    0     1  35059    1
16538  846  1607  34174  981

[4000 rows x 4 columns]
---- 91 ----
Precision:  0.9995002498750625
Recall:  1.0
Accuracy:  0.99975
f1_score:  0.9997500624843789
30663
======
         p1    p2     p3    p4
6053      1     0  35732     0
3581      1     0  34908     0
7430      1     0  36191     0
3044      1     0  34729     0
6637      0     1  35927     0
...     ...   ...    ...   ...
12303     1     1  34043     1
12875     1     0  35488     1
12351     0     1  36748     1
12170     1     1  37008     0
16433  2071  2546  35564  1100

[4000 rows x 4 columns]
---- 92 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
30996
======
         p1    p2     p3    p4
2568      0     0  35070     1
2886      0     0  35176     1
1756      0     1  34801     0
7581      0     0  36741     1
6062      1     0  36236     0
...     ...   ...    ...   ...
14812     0     1  35244     1
14320     0     0  36911     0
16118  2713  1402  36108  1707
14718     1     1  34933     1
18853  2075  3316  35771   337

[4000 rows x 4 columns]
---- 93 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
31330
======
         p1    p2     p3    p4
2384      1     0  35268     0
9441      0     0  37619     1
4028      1     0  35816     0
2348      1     0  35256     0
4330      0     1  35917     0
...     ...   ...    ...   ...
14035     0     0  36164     0
15038   719  2461  36001  2492
18081  2769  1673  34616  2898
13725     1     1  34603     0
12776     1     1  36407     1

[4000 rows x 4 columns]
---- 94 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
31663
======
         p1    p2     p3    p4
9267      0     0  37923     1
4267      0     1  36258     0
7043      1     0  37183     0
2796      0     0  35766     1
2093      1     0  35533     0
...     ...   ...    ...   ...
19273  2631  1408  37817   341
13996     0     1  38103     1
16606  1705   934  37618  1872
10344     1     1  37301     1
13283     0     1  35146     1

[4000 rows x 4 columns]
---- 95 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
31996
======
       p1  p2     p3  p4
205     0   1  35165   0
3161    1   0  36150   0
7665    0   0  37650   1
7633    0   1  37641   0
2085    0   0  35790   1
...    ..  ..    ...  ..
14158   1   0  36150   1
11864   0   1  37197   1
10006   1   0  35097   1
14734   1   1  36214   0
13955   1   0  35832   1

[4000 rows x 4 columns]
---- 96 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
32330
======
         p1    p2     p3    p4
348       0     0  35457     1
4426      0     1  36818     0
4689      0     0  36904     1
3902      1     0  36643     0
4422      0     0  36815     1
...     ...   ...    ...   ...
14008     1     1  37446     1
19705  1641   629  36924  2555
17518  1693   208  35691   948
18232   943  1649  36720  1022
18942  2427  3146  35642  1574

[4000 rows x 4 columns]
---- 97 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
32663
======
         p1    p2     p3    p4
5729      1     0  37622     0
6741      0     0  37958     1
9996      0     0  39043     1
7192      0     1  38110     0
6428      1     0  37855     0
...     ...   ...    ...   ...
14550     1     1  36883     1
19340   449   412  36162  1357
15836  3046   672  39041  3225
19593  1062  3235  37629  1567
12591     0     0  37206     0

[4000 rows x 4 columns]
---- 98 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0
32996
======
         p1    p2     p3    p4
9597      0     0  39298     1
9809      1     0  39370     0
4419      0     0  37572     1
4907      1     0  37736     0
7273      0     1  38525     0
...     ...   ...    ...   ...
13039     1     1  37673     1
12194     0     1  39165     1
18739   230   739  36827  2765
17290  1190  2715  36547   894
13974     1     0  37052     1

[4000 rows x 4 columns]
---- 99 ----
Precision:  1.0
Recall:  1.0
Accuracy:  1.0
f1_score:  1.0